flows/DCCA_DO_Ref_Division_Changed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DORAssignDiv</name>
        <label>DORAssignDiv</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>DCCA_DO_Referral__c.DCCA_DO_Ref_Send_to_Division</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Div2Chg</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DORAssignDiv2</name>
        <label>DORAssignDiv2</label>
        <locationX>50</locationX>
        <locationY>744</locationY>
        <actionName>DCCA_DO_Referral__c.DCCA_DO_Ref_Send_to_Division2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DORRemind2Div</name>
        <label>DORRemind2Div</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <actionName>DCCA_DO_Referral__c.DCCA_DO_Referral_Due_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Div2Remind2_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DORRemind2Div2_0</name>
        <label>DORRemind2Div2</label>
        <locationX>1106</locationX>
        <locationY>744</locationY>
        <actionName>DCCA_DO_Referral__c.DCCA_DO_Referral_Due_Reminder2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DORRemind3Div</name>
        <label>DORRemind3Div</label>
        <locationX>1634</locationX>
        <locationY>408</locationY>
        <actionName>DCCA_DO_Referral__c.DCCA_DO_Referral_Due_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Div2Remind3_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DORRemind3Div2_0</name>
        <label>DORRemind3Div2</label>
        <locationX>1634</locationX>
        <locationY>744</locationY>
        <actionName>DCCA_DO_Referral__c.DCCA_DO_Referral_Due_Reminder2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DORRemindDiv2_0_0</name>
        <label>DORRemindDiv2</label>
        <locationX>578</locationX>
        <locationY>744</locationY>
        <actionName>DCCA_DO_Referral__c.DCCA_DO_Referral_Due_Reminder2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DORRemindDiv_0</name>
        <label>DORRemindDiv</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <actionName>DCCA_DO_Referral__c.DCCA_DO_Referral_Due_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Div2Remind_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Div2Chg</name>
        <label>Div2Chg</label>
        <locationX>182</locationX>
        <locationY>624</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetupDiv2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DORAssignDiv2</targetReference>
            </connector>
            <label>SetupDiv2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Div2Remind2_0</name>
        <label>Div2Remind2</label>
        <locationX>1238</locationX>
        <locationY>624</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetupDiv2Remind2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division_2__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DORRemind2Div2_0</targetReference>
            </connector>
            <label>SetupDiv2Remind2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Div2Remind3_0</name>
        <label>Div2Remind3</label>
        <locationX>1766</locationX>
        <locationY>624</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetupDiv2Remind3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division_2__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DORRemind3Div2_0</targetReference>
            </connector>
            <label>SetupDiv2Remind3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Div2Remind_0</name>
        <label>Div2Remind</label>
        <locationX>710</locationX>
        <locationY>624</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetupDiv2Remind_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division_2__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DORRemindDiv2_0_0</targetReference>
            </connector>
            <label>SetupDiv2Remind</label>
        </rules>
    </decisions>
    <decisions>
        <name>DivChg</name>
        <label>DivChg</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Div2Chg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetupDiv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DORAssignDiv</targetReference>
            </connector>
            <label>SetupDiv</label>
        </rules>
    </decisions>
    <decisions>
        <name>DivRemind</name>
        <label>DivRemind</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Div2Remind_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetupDivRemind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DORRemindDiv_0</targetReference>
            </connector>
            <label>SetupDivRemind</label>
        </rules>
    </decisions>
    <decisions>
        <name>DivRemind2</name>
        <label>DivRemind2</label>
        <locationX>1238</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Div2Remind2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetupDivRemind2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DORRemind2Div</targetReference>
            </connector>
            <label>SetupDivRemind2</label>
        </rules>
    </decisions>
    <decisions>
        <name>DivRemind3</name>
        <label>DivRemind3</label>
        <locationX>1766</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Div2Remind3_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetupDivRemind3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DORRemind3Div</targetReference>
            </connector>
            <label>SetupDivRemind3</label>
        </rules>
    </decisions>
    <description>Whenever Division is added or changed</description>
    <formulas>
        <name>SetDiv2Null</name>
        <dataType>String</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>DCCA DO Ref Division Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DCCA DO Ref Division Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DivChg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>DCCA_DO_Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>DORDivReminder</name>
            <connector>
                <targetReference>DivRemind</targetReference>
            </connector>
            <label>DORDivReminder</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date_DO__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>DORDivReminder2</name>
            <connector>
                <targetReference>DivRemind2</targetReference>
            </connector>
            <label>DORDivReminder2</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date_DO__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>DORDivReminder3</name>
            <connector>
                <targetReference>DivRemind3</targetReference>
            </connector>
            <label>DORDivReminder3</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date_DO__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
