flows/DOR_Hist_Comments.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CCDiv2</name>
        <label>CCDiv2</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>DCCA_DO_Referral__c.DCCA_DO_Ref_Send_to_Division2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DivToDO</name>
        <label>DivToDO</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <actionName>DCCA_DO_Ref_History_Comment__c.DCCA_DO_Ref_Send_to_DO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>DO sending comments to Div</description>
        <name>HistCmtToDiv</name>
        <label>HistCmtToDiv</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <actionName>DCCA_DO_Ref_History_Comment__c.DCCA_DO_Ref_comments_SendtoDIV</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CopyDiv2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>CopyDiv2</name>
        <label>CopyDiv2</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendToDiv2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DORGetRef.Division_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCDiv2</targetReference>
            </connector>
            <label>SendToDiv2</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendTodir</name>
        <label>SendTodir</label>
        <locationX>468</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendToDiv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_DO_Comment_SendTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To DIV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HistCmtToDiv</targetReference>
            </connector>
            <label>SendToDiv</label>
        </rules>
        <rules>
            <name>SendToDO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_DO_Comment_SendTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To DO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DivToDO</targetReference>
            </connector>
            <label>SendToDO</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusPending</name>
        <label>StatusPending</label>
        <locationX>699</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChkStatusPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DORGetRef.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DORSetDivOnHistCmt_0</targetReference>
            </connector>
            <label>ChkStatusPending</label>
        </rules>
    </decisions>
    <description>DO Ref History Comments email alerts and field updates</description>
    <interviewLabel>DOR Hist Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOR Hist Comments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DORGetRef</name>
        <label>DORGetRef</label>
        <locationX>699</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StatusPending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DCCA_DO_Referral__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_DO_Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>DORSetDivOnHistCmt_0</name>
        <label>DORSetDivOnHistCmt</label>
        <locationX>468</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>SendTodir</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_DO_Comment_DIV__c</field>
            <value>
                <elementReference>DORGetRef.Email_Field__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV2_CC2__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV2_CC2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV2_CC3__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV2_CC3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV2_CC__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV2_CC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV2_primary2__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV2_Primary2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV2_primary3__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV2_Primary3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV2_primary__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV2_Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV_CC2__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV_CC2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV_CC3__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV_CC3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV_CC__c</field>
            <value>
                <elementReference>DORGetRef.Email_Field__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV_primary2__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV_Primary2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV_primary3__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV_Primary3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_DO_DIV_primary__c</field>
            <value>
                <elementReference>DORGetRef.Email_DIV_Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>573</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DORGetRef</targetReference>
        </connector>
        <object>DCCA_DO_Ref_History_Comment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
