flows/DORUpds.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Div2Chg</name>
        <label>Div2Chg</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetupDiv2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Division_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCCA_DO_Ref_Email_addrs2</targetReference>
            </connector>
            <label>SetupDiv2</label>
        </rules>
        <rules>
            <name>ResetDiv2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoDiv2</targetReference>
            </connector>
            <label>ResetDiv2</label>
        </rules>
    </decisions>
    <decisions>
        <name>DivChg</name>
        <label>DivChg</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Div2Chg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetupDiv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Division__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCCA_DO_Ref_Email_addrs</targetReference>
            </connector>
            <label>SetupDiv</label>
        </rules>
    </decisions>
    <description>set up DOR fields</description>
    <interviewLabel>DORUpds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DORUpds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>DCCA_DO_Ref_Email_addrs</name>
        <label>DCCA DO Ref Email addrs</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Div2Chg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match__r.DCCA_Division_ML__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_DIV_CC2__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match__r.DCCA_DIV_CC_Addr2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV_CC3__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match__r.DCCA_DIV_CC_Addr3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV_Primary2__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match__r.DCCA_DIV_Primary_Addr2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV_Primary3__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match__r.DCCA_DIV_Primary_Addr3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV_Primary__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match__r.DCCA_DIV_Primary_Addr__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Field__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match__r.DCCA_DIV_CC_Addr__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DCCA_DO_Ref_Email_addrs2</name>
        <label>DCCA DO Ref Email addrs2</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match2__r.DCCA_Division_ML__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_DIV2_CC2__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match2__r.DCCA_DIV_CC_Addr2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV2_CC3__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match2__r.DCCA_DIV_CC_Addr3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV2_CC__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match2__r.DCCA_DIV_CC_Addr__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV2_Primary2__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match2__r.DCCA_DIV_Primary_Addr2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV2_Primary3__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match2__r.DCCA_DIV_Primary_Addr3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV2_Primary__c</field>
            <value>
                <elementReference>$Record.DCCA_DO_Mail_List_Match2__r.DCCA_DIV_Primary_Addr__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NoDiv2</name>
        <label>NoDiv2</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division_2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_DIV2_CC2__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV2_CC3__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV2_CC__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV2_Primary2__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV2_Primary3__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_DIV2_Primary__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DivChg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CLOSED__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>DCCA_DO_Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
