flows/HT_TS_Reminder_Notif.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HTTSDivReminder1</name>
        <label>HTTSDivReminder1</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearASO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder10</name>
        <label>HTTSDivReminder10</label>
        <locationX>50</locationX>
        <locationY>7622</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearOAH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder11</name>
        <label>HTTSDivReminder11</label>
        <locationX>50</locationX>
        <locationY>8318</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearOCP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder12</name>
        <label>HTTSDivReminder12</label>
        <locationX>50</locationX>
        <locationY>9014</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearPVL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder13</name>
        <label>HTTSDivReminder13</label>
        <locationX>50</locationX>
        <locationY>9710</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearRICO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder2_0</name>
        <label>HTTSDivReminder2</label>
        <locationX>50</locationX>
        <locationY>2054</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearBREG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder3_0</name>
        <label>HTTSDivReminder3</label>
        <locationX>50</locationX>
        <locationY>2750</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearCATV</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder4_0_0</name>
        <label>HTTSDivReminder4</label>
        <locationX>50</locationX>
        <locationY>3446</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearDCA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder5</name>
        <label>HTTSDivReminder5</label>
        <locationX>50</locationX>
        <locationY>4142</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearDFI</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder6</name>
        <label>HTTSDivReminder6</label>
        <locationX>50</locationX>
        <locationY>4838</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearDO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder7</name>
        <label>HTTSDivReminder7</label>
        <locationX>50</locationX>
        <locationY>5534</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearHPEAP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder8</name>
        <label>HTTSDivReminder8</label>
        <locationX>50</locationX>
        <locationY>6230</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearINS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivReminder9</name>
        <label>HTTSDivReminder9</label>
        <locationX>50</locationX>
        <locationY>6926</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearISCO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTTS.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TestimonyReminderText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  Testimony due in 24 hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetMeasHTRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MeasHTInvok_0</name>
        <label>MeasHTInvok</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <actionName>MeasHTInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignGetMeasHTID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MeasIDSet</name>
        <label>MeasIDSet</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>MeasInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignGetMeasID_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignGetMeasHTID</name>
        <label>AssignGetMeasHTID</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GetMeasHTRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMeasHTRec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGetMeasID_0</name>
        <label>AssignGetMeasID</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>MeasRecId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMeasRec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpHPEAP_0</name>
        <label>AssignGrpHPEAP</label>
        <locationX>50</locationX>
        <locationY>5414</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HPEAPGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDASO</name>
        <label>AssignGrpIDASO</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ASOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDBREG_0</name>
        <label>AssignGrpIDBREG</label>
        <locationX>50</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BREGGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDCATV_0</name>
        <label>AssignGrpIDCATV</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CATVGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder3_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDDCA_0</name>
        <label>AssignGrpIDDCA</label>
        <locationX>50</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCAGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder4_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDDFI_0</name>
        <label>AssignGrpIDDFI</label>
        <locationX>50</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCAGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDO_0</name>
        <label>AssignGrpIDO</label>
        <locationX>50</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpINS_0</name>
        <label>AssignGrpINS</label>
        <locationX>50</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>INSGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpISCO_0</name>
        <label>AssignGrpISCO</label>
        <locationX>50</locationX>
        <locationY>6806</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ISCOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpOAH_0</name>
        <label>AssignGrpOAH</label>
        <locationX>50</locationX>
        <locationY>7502</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OAHGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpOCP_0</name>
        <label>AssignGrpOCP</label>
        <locationX>50</locationX>
        <locationY>8198</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCPGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpPVL_0</name>
        <label>AssignGrpPVL</label>
        <locationX>50</locationX>
        <locationY>8894</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PVLGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpRICO_0</name>
        <label>AssignGrpRICO</label>
        <locationX>50</locationX>
        <locationY>9590</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RICOGrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivReminder13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearASO</name>
        <label>ClearASO</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ASOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyBREGGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearBREG</name>
        <label>ClearBREG</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>BREGGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyCATVGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearCATV</name>
        <label>ClearCATV</label>
        <locationX>50</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CATVGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyDCAGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearDCA</name>
        <label>ClearDCA</label>
        <locationX>50</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>DCAGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyDFIGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearDFI</name>
        <label>ClearDFI</label>
        <locationX>50</locationX>
        <locationY>4262</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>DFIGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyDOGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearDO</name>
        <label>ClearDO</label>
        <locationX>50</locationX>
        <locationY>4958</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>DOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyHPEAPGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearHPEAP</name>
        <label>ClearHPEAP</label>
        <locationX>50</locationX>
        <locationY>5654</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>HPEAPGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyINSGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearINS</name>
        <label>ClearINS</label>
        <locationX>50</locationX>
        <locationY>6350</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>INSGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyISCOGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearISCO</name>
        <label>ClearISCO</label>
        <locationX>50</locationX>
        <locationY>7046</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ISCOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyOAHGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearOAH</name>
        <label>ClearOAH</label>
        <locationX>50</locationX>
        <locationY>7742</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OAHGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyOCPGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearOCP</name>
        <label>ClearOCP</label>
        <locationX>50</locationX>
        <locationY>8438</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OCPGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyPVLGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearPVL</name>
        <label>ClearPVL</label>
        <locationX>50</locationX>
        <locationY>9134</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>PVLGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyRICOGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearRICO</name>
        <label>ClearRICO</label>
        <locationX>50</locationX>
        <locationY>9830</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RICOGrpID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AnyASOGrps</name>
        <label>AnyASOGrps</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>AnyBREGGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASOgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-aso@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-aso@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-aso@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-aso@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-aso@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedASO</targetReference>
            </connector>
            <label>ASOgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyBREGGrps</name>
        <label>AnyBREGGrps</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>AnyCATVGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BREGgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-breg@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-breg@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-breg@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-breg@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-breg@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedBREG_0</targetReference>
            </connector>
            <label>BREGgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyCATVGrps</name>
        <label>AnyCATVGrps</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>AnyDCAGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CATVgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-catv@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-catv@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-catv@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-catv@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-catv@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedCATV_0</targetReference>
            </connector>
            <label>CATVgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyDCAGrps</name>
        <label>AnyDCAGrps</label>
        <locationX>182</locationX>
        <locationY>3086</locationY>
        <defaultConnector>
            <targetReference>AnyDFIGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCAgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dca@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dca@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dca@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dca@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dca@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedDCA_0</targetReference>
            </connector>
            <label>DCAgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyDFIGrps</name>
        <label>AnyDFIGrps</label>
        <locationX>182</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>AnyDOGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DFIgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dfi@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dfi@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dfi@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dfi@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dfi@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedDFI_0</targetReference>
            </connector>
            <label>DFIgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyDOGrps</name>
        <label>AnyDOGrps</label>
        <locationX>182</locationX>
        <locationY>4478</locationY>
        <defaultConnector>
            <targetReference>AnyHPEAPGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DOgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-do@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-do@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-do@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-do@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-do@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedDO_0</targetReference>
            </connector>
            <label>DOgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyHPEAPGrps</name>
        <label>AnyHPEAPGrps</label>
        <locationX>182</locationX>
        <locationY>5174</locationY>
        <defaultConnector>
            <targetReference>AnyINSGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HPEAPgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-hpeap@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-hpeap@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-hpeap@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-hpeap@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-hpeap@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedHPEAP_0</targetReference>
            </connector>
            <label>HPEAPgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyINSGrps</name>
        <label>AnyINSGrps</label>
        <locationX>182</locationX>
        <locationY>5870</locationY>
        <defaultConnector>
            <targetReference>AnyISCOGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>INSgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ins@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ins@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ins@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ins@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ins@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedINS_0</targetReference>
            </connector>
            <label>INSgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyISCOGrps</name>
        <label>AnyISCOGrps</label>
        <locationX>182</locationX>
        <locationY>6566</locationY>
        <defaultConnector>
            <targetReference>AnyOAHGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISCOgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-isco@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-isco@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-isco@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-isco@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-isco@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedISCO_0</targetReference>
            </connector>
            <label>ISCOgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyOAHGrps</name>
        <label>AnyOAHGrps</label>
        <locationX>182</locationX>
        <locationY>7262</locationY>
        <defaultConnector>
            <targetReference>AnyOCPGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OAHgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-oah@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-oah@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-oah@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-oah@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-oah@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedOAH_0</targetReference>
            </connector>
            <label>OAHgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyOCPGrps</name>
        <label>AnyOCPGrps</label>
        <locationX>182</locationX>
        <locationY>7958</locationY>
        <defaultConnector>
            <targetReference>AnyPVLGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCPgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ocp@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ocp@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ocp@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ocp@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ocp@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedOCP_0</targetReference>
            </connector>
            <label>OCPgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyPVLGrps</name>
        <label>AnyPVLGrps</label>
        <locationX>182</locationX>
        <locationY>8654</locationY>
        <defaultConnector>
            <targetReference>AnyRICOGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PVLgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-pvl@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-pvl@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-pvl@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-pvl@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-pvl@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedPVL_0</targetReference>
            </connector>
            <label>PVLgroups</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyRICOGrps</name>
        <label>AnyRICOGrps</label>
        <locationX>182</locationX>
        <locationY>9350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RICOgroups</name>
            <conditionLogic>((1 AND 6) OR (2 AND 7) OR (3 AND 8) OR (4 AND 9) OR (5 AND 10)) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-rico@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-rico@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-rico@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-rico@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-rico@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.DCCA_LeTS_HT_Mtg_Adjusted__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateTimeplus0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedRICO_0</targetReference>
            </connector>
            <label>RICOgroups</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeplus0</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>HT TS Reminder Notif {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HT TS Reminder Notif</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CstmNotifIdHTTS</name>
        <label>CstmNotifIdHTTS</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AnyASOGrps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alert_TS_Reminders</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMeasHTRec</name>
        <label>GetMeasHTRec</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CstmNotifIdHTTS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_LeTS_Hearings_Testimony__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMeasRec</name>
        <label>GetMeasRec</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MeasHTInvok_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeasRecId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_LeTS_Measure_Main__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedASO</name>
        <label>GroupsUsedASO</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDASO</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSASOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>ASOgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ASOGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedBREG_0</name>
        <label>GroupsUsedBREG</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDBREG_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSBREGGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>BREGgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BREGGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedCATV_0</name>
        <label>GroupsUsedCATV</label>
        <locationX>50</locationX>
        <locationY>2510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDCATV_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSCATVGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>CATVgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CATVGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedDCA_0</name>
        <label>GroupsUsedDCA</label>
        <locationX>50</locationX>
        <locationY>3206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDDCA_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDCAGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DCAgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DCAGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedDFI_0</name>
        <label>GroupsUsedDFI</label>
        <locationX>50</locationX>
        <locationY>3902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDDFI_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDFIGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DFIGrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DFIGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedDO_0</name>
        <label>GroupsUsedDO</label>
        <locationX>50</locationX>
        <locationY>4598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDO_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DOGrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DOGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedHPEAP_0</name>
        <label>GroupsUsedHPEAP</label>
        <locationX>50</locationX>
        <locationY>5294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpHPEAP_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSHPEAPGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>HPEAPgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HPEAPGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedINS_0</name>
        <label>GroupsUsedINS</label>
        <locationX>50</locationX>
        <locationY>5990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpINS_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSINSGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>INSgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>INSGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedISCO_0</name>
        <label>GroupsUsedISCO</label>
        <locationX>50</locationX>
        <locationY>6686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpISCO_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSISCOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>ISCOgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ISCOGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedOAH_0</name>
        <label>GroupsUsedOAH</label>
        <locationX>50</locationX>
        <locationY>7382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpOAH_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSOAHGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>OAHgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OAHGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedOCP_0</name>
        <label>GroupsUsedOCP</label>
        <locationX>50</locationX>
        <locationY>8078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpOCP_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSOCPGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>OCPgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OCPGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedPVL_0</name>
        <label>GroupsUsedPVL</label>
        <locationX>50</locationX>
        <locationY>8774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpPVL_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSPVLGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>PVLgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PVLGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedRICO_0</name>
        <label>GroupsUsedRICO</label>
        <locationX>50</locationX>
        <locationY>9470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpRICO_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSRICOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>RICOgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RICOGrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MeasIDSet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HTMtgAddChgText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ATTENTION: A Committee Meeting has been added or changed for {!GetMeasHTRec.DCCA_LeTS_HT_Meas_Baseid__c} {!{!GetMeasHTRec.DCCA_LeTS_CmteMtgInfo__c} Please see the new meeting at - {!GetMeasHTRec.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>TestimonyReminderText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ATTENTION: Testimony due in 24 hours for - {!GetMeasHTRec.DCCA_LeTS_HT_Meas_Baseid__c} 
 {!GetMeasHTRec.DCCA_LeTS_CmteMtgInfo__c} - Committee Hearing record - {!GetMeasHTRec.Name}</text>
    </textTemplates>
    <variables>
        <name>ASOgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSASOGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>ASOGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BREGgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSBREGGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>BREGGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CATVgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSCATVGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>CATVGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomNotifID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateTimeplus</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>DCAgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSDCAGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>DCAGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DFIGrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSDFIGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>DFIGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DivGroups</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DivGrps</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DOGrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSDOGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>DOGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>HPEAPgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSHPEAPGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>HPEAPGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>INSgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSINSGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>INSGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ISCOgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSISCOGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>ISCOGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeasHTRecId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DCCA_LeTS_Hearings_Testimony__c</objectType>
    </variables>
    <variables>
        <name>MeasRecId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DCCA_LeTS_Measure_Main__c</objectType>
    </variables>
    <variables>
        <name>OAHgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSOAHGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>OAHGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OCPgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSOCPGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>OCPGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PVLgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSPVLGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>PVLGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DCCA_LeTS_Measure_Main__c</objectType>
    </variables>
    <variables>
        <name>RICOgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSRICOGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>RICOGrpID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
