flows/HTMeetingAddChg.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HTTSDivHearingAC1</name>
        <label>HTTSDivHearingAC1</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearASO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC10</name>
        <label>HTTSDivHearingAC10</label>
        <locationX>50</locationX>
        <locationY>7382</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearOAH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC11</name>
        <label>HTTSDivHearingAC11</label>
        <locationX>50</locationX>
        <locationY>8078</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearOCP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC12</name>
        <label>HTTSDivHearingAC12</label>
        <locationX>50</locationX>
        <locationY>8774</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearPVL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC13</name>
        <label>HTTSDivHearingAC13</label>
        <locationX>50</locationX>
        <locationY>9470</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearRICO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC2</name>
        <label>HTTSDivHearingAC2</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearBREG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC3</name>
        <label>HTTSDivHearingAC3</label>
        <locationX>50</locationX>
        <locationY>2510</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearCATV</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC4</name>
        <label>HTTSDivHearingAC4</label>
        <locationX>50</locationX>
        <locationY>3206</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearDCA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC5</name>
        <label>HTTSDivHearingAC5</label>
        <locationX>50</locationX>
        <locationY>3902</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearDFI</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC6</name>
        <label>HTTSDivHearingAC6</label>
        <locationX>50</locationX>
        <locationY>4598</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearDO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC7</name>
        <label>HTTSDivHearingAC7</label>
        <locationX>50</locationX>
        <locationY>5294</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearHPEAP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC8</name>
        <label>HTTSDivHearingAC8</label>
        <locationX>50</locationX>
        <locationY>5990</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearINS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HTTSDivHearingAC9</name>
        <label>HTTSDivHearingAC9</label>
        <locationX>50</locationX>
        <locationY>6686</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearISCO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CstmNotifIdHTAC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTMtgAddChgText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>ATTENTION  NEW Committee Hearing or NEW Meeting date/time location</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GMRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MeasHTInvok_0</name>
        <label>MeasHTInvok</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>MeasHTInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetMeasHTRec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MeasIDSet</name>
        <label>MeasIDSet</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>MeasInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetMeasRec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>MeasRecId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignGrpHPEAP</name>
        <label>AssignGrpHPEAP</label>
        <locationX>50</locationX>
        <locationY>5174</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HPEAPGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDASO</name>
        <label>AssignGrpIDASO</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ASOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDBREG</name>
        <label>AssignGrpIDBREG</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BREGGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDCATV</name>
        <label>AssignGrpIDCATV</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CATVGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDDCA</name>
        <label>AssignGrpIDDCA</label>
        <locationX>50</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DCAGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDDFI</name>
        <label>AssignGrpIDDFI</label>
        <locationX>50</locationX>
        <locationY>3782</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DFIGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIDO</name>
        <label>AssignGrpIDO</label>
        <locationX>50</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpINS</name>
        <label>AssignGrpINS</label>
        <locationX>50</locationX>
        <locationY>5870</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>INSGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpISCO</name>
        <label>AssignGrpISCO</label>
        <locationX>50</locationX>
        <locationY>6566</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ISCOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpOAH</name>
        <label>AssignGrpOAH</label>
        <locationX>50</locationX>
        <locationY>7262</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OAHGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpOCP</name>
        <label>AssignGrpOCP</label>
        <locationX>50</locationX>
        <locationY>7958</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCPGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpPVL</name>
        <label>AssignGrpPVL</label>
        <locationX>50</locationX>
        <locationY>8654</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PVLGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpRICO</name>
        <label>AssignGrpRICO</label>
        <locationX>50</locationX>
        <locationY>9350</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RICOGrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HTTSDivHearingAC13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearASO</name>
        <label>ClearASO</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ASOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyBREGGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearBREG</name>
        <label>ClearBREG</label>
        <locationX>50</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>BREGGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyCATVGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearCATV</name>
        <label>ClearCATV</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CATVGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyDCAGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearDCA</name>
        <label>ClearDCA</label>
        <locationX>50</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>DCAGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyDFIGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearDFI</name>
        <label>ClearDFI</label>
        <locationX>50</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>DFIGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyDOGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearDO</name>
        <label>ClearDO</label>
        <locationX>50</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>DOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyHPEAPGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearHPEAP</name>
        <label>ClearHPEAP</label>
        <locationX>50</locationX>
        <locationY>5414</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>HPEAPGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyINSGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearINS</name>
        <label>ClearINS</label>
        <locationX>50</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>INSGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyISCOGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearISCO</name>
        <label>ClearISCO</label>
        <locationX>50</locationX>
        <locationY>6806</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ISCOGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyOAHGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearOAH</name>
        <label>ClearOAH</label>
        <locationX>50</locationX>
        <locationY>7502</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OAHGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyOCPGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearOCP</name>
        <label>ClearOCP</label>
        <locationX>50</locationX>
        <locationY>8198</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OCPGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyPVLGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearPVL</name>
        <label>ClearPVL</label>
        <locationX>50</locationX>
        <locationY>8894</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>PVLGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyRICOGrps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearRICO</name>
        <label>ClearRICO</label>
        <locationX>50</locationX>
        <locationY>9590</locationY>
        <assignmentItems>
            <assignToReference>GMRecipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RICOGrpID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AnyASOGrps</name>
        <label>AnyASOGrps</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>AnyBREGGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASONotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-aso@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-aso@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-aso@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-aso@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-aso@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedASO</targetReference>
            </connector>
            <label>ASONotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyBREGGrps</name>
        <label>AnyBREGGrps</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>AnyCATVGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BREGNotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-breg@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-breg@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-breg@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-breg@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-breg@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedBREG</targetReference>
            </connector>
            <label>BREGNotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyCATVGrps</name>
        <label>AnyCATVGrps</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>AnyDCAGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CATVNotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-catv@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-catv@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-catv@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-catv@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-catv@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedCATV</targetReference>
            </connector>
            <label>CATVNotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyDCAGrps</name>
        <label>AnyDCAGrps</label>
        <locationX>182</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>AnyDFIGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCANotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dca@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dca@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dca@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dca@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dca@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedDCA</targetReference>
            </connector>
            <label>DCANotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyDFIGrps</name>
        <label>AnyDFIGrps</label>
        <locationX>182</locationX>
        <locationY>3542</locationY>
        <defaultConnector>
            <targetReference>AnyDOGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DFINotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dfi@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dfi@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dfi@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dfi@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-dfi@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedDFI</targetReference>
            </connector>
            <label>DFINotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyDOGrps</name>
        <label>AnyDOGrps</label>
        <locationX>182</locationX>
        <locationY>4238</locationY>
        <defaultConnector>
            <targetReference>AnyHPEAPGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DONotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-do@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-do@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-do@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-do@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-do@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedDO</targetReference>
            </connector>
            <label>DONotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyHPEAPGrps</name>
        <label>AnyHPEAPGrps</label>
        <locationX>182</locationX>
        <locationY>4934</locationY>
        <defaultConnector>
            <targetReference>AnyINSGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HPEAPNotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-hpeap@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-hpeap@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-hpeap@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-hpeap@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-hpeap@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedHPEAP</targetReference>
            </connector>
            <label>HPEAPNotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyINSGrps</name>
        <label>AnyINSGrps</label>
        <locationX>182</locationX>
        <locationY>5630</locationY>
        <defaultConnector>
            <targetReference>AnyISCOGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>INSNotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ins@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ins@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ins@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ins@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ins@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedINS</targetReference>
            </connector>
            <label>INSNotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyISCOGrps</name>
        <label>AnyISCOGrps</label>
        <locationX>182</locationX>
        <locationY>6326</locationY>
        <defaultConnector>
            <targetReference>AnyOAHGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISCONotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-isco@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-isco@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-isco@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-isco@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-isco@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedISCO</targetReference>
            </connector>
            <label>ISCONotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyOAHGrps</name>
        <label>AnyOAHGrps</label>
        <locationX>182</locationX>
        <locationY>7022</locationY>
        <defaultConnector>
            <targetReference>AnyOCPGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OAHNotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-oah@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-oah@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-oah@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-oah@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-oah@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedOAH</targetReference>
            </connector>
            <label>OAHNotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyOCPGrps</name>
        <label>AnyOCPGrps</label>
        <locationX>182</locationX>
        <locationY>7718</locationY>
        <defaultConnector>
            <targetReference>AnyPVLGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCPNotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ocp@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ocp@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ocp@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ocp@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-ocp@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedOCP</targetReference>
            </connector>
            <label>OCPNotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyPVLGrps</name>
        <label>AnyPVLGrps</label>
        <locationX>182</locationX>
        <locationY>8414</locationY>
        <defaultConnector>
            <targetReference>AnyRICOGrps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PVLNotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-pvl@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-pvl@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-pvl@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-pvl@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-pvl@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedPVL</targetReference>
            </connector>
            <label>PVLNotify</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyRICOGrps</name>
        <label>AnyRICOGrps</label>
        <locationX>182</locationX>
        <locationY>9110</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RICONotify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Lead_Div_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-rico@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div2_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-rico@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div3_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-rico@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div4_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-rico@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMeasHTRec.LeTS_Div5_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leg-rico@dcca.hawaii.gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupsUsedRICO</targetReference>
            </connector>
            <label>RICONotify</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HTMeetingAddChg {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HTMeetingAddChg</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CstmNotifIdHTAC</name>
        <label>CstmNotifIdHTAC</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AnyASOGrps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alert_New_Hearing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMeasHTRec</name>
        <label>GetMeasHTRec</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CstmNotifIdHTAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeasHTRecId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_LeTS_Hearings_Testimony__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMeasRec</name>
        <label>GetMeasRec</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MeasHTInvok_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMeasRec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_LeTS_Measure_Main__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedASO</name>
        <label>GroupsUsedASO</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDASO</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSASOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>ASOgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ASOGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedBREG</name>
        <label>GroupsUsedBREG</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDBREG</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSBREGGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>BREGgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BREGGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedCATV</name>
        <label>GroupsUsedCATV</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDCATV</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSCATVGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>CATVgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CATVGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedDCA</name>
        <label>GroupsUsedDCA</label>
        <locationX>50</locationX>
        <locationY>2966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDDCA</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDCAGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DCAgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DCAGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedDFI</name>
        <label>GroupsUsedDFI</label>
        <locationX>50</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDDFI</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDFIGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DFIGrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DFIGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedDO</name>
        <label>GroupsUsedDO</label>
        <locationX>50</locationX>
        <locationY>4358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIDO</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DOGrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DOGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedHPEAP</name>
        <label>GroupsUsedHPEAP</label>
        <locationX>50</locationX>
        <locationY>5054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpHPEAP</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSHPEAPGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>HPEAPgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HPEAPGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedINS</name>
        <label>GroupsUsedINS</label>
        <locationX>50</locationX>
        <locationY>5750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpINS</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSINSGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>INSgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>INSGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedISCO</name>
        <label>GroupsUsedISCO</label>
        <locationX>50</locationX>
        <locationY>6446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpISCO</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSISCOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>ISCOgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ISCOGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedOAH</name>
        <label>GroupsUsedOAH</label>
        <locationX>50</locationX>
        <locationY>7142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpOAH</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSOAHGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>OAHgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OAHGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedOCP</name>
        <label>GroupsUsedOCP</label>
        <locationX>50</locationX>
        <locationY>7838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpOCP</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSOCPGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>OCPgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OCPGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedPVL</name>
        <label>GroupsUsedPVL</label>
        <locationX>50</locationX>
        <locationY>8534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpPVL</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSPVLGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>PVLgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PVLGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GroupsUsedRICO</name>
        <label>GroupsUsedRICO</label>
        <locationX>50</locationX>
        <locationY>9230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpRICO</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSRICOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>RICOgrp</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RICOGrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MeasIDSet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HTMtgAddChgText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ATTENTION: A Committee Meeting has been added or changed for {!GetMeasHTRec.DCCA_LeTS_HT_Meas_Baseid__c} {!GetMeasHTRec.DCCA_LeTS_CmteMtgInfo__c} Please see the new meeting at - {!GetMeasHTRec.Name}</text>
    </textTemplates>
    <variables>
        <name>ASOgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSASOGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>ASOGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BREGgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSBREGGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>BREGGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CATVgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSCATVGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>CATVGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomNotifID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DCAgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSDCAGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>DCAGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DFIGrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSDFIGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>DFIGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DivGroups</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DivGrps</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DOGrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSDOGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>DOGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>HPEAPgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSHPEAPGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>HPEAPGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>INSgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSINSGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>INSGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ISCOgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSISCOGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>ISCOGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeasHTRecId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DCCA_LeTS_Hearings_Testimony__c</objectType>
    </variables>
    <variables>
        <name>MeasRecId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DCCA_LeTS_Measure_Main__c</objectType>
    </variables>
    <variables>
        <name>OAHgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSOAHGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>OAHGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OCPgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSOCPGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>OCPGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PVLgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSPVLGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>PVLGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DCCA_LeTS_Measure_Main__c</objectType>
    </variables>
    <variables>
        <name>RICOgrp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LeTSRICOGrp</stringValue>
        </value>
    </variables>
    <variables>
        <name>RICOGrpID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
