flows/HTNotifsEmails.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HPAlertDiv2</name>
        <label>HPAlertDiv2</label>
        <locationX>50</locationX>
        <locationY>4800</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_DIV2_Hearing_Position_Chg</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>HearingPosDiv3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HPAlertDiv3</name>
        <label>HPAlertDiv3</label>
        <locationX>50</locationX>
        <locationY>5136</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_DIV3_Hearing_Position_Chg</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>HearingPosDiv4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HPAlertDiv4</name>
        <label>HPAlertDiv4</label>
        <locationX>50</locationX>
        <locationY>5472</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_DIV4_Hearing_Position_Chg</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>HearingPosDiv5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HPAlertDiv5</name>
        <label>HPAlertDiv5</label>
        <locationX>50</locationX>
        <locationY>5808</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_DIV5_Hearing_Position_Chg</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>HearingAddChg1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HPAlertDivLead</name>
        <label>HPAlertDivLead</label>
        <locationX>50</locationX>
        <locationY>4464</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_DIV_Lead_Hearing_Position_Chg</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>HearingPosDiv2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReplyDivLead</name>
        <label>ReplyDivLead</label>
        <locationX>50</locationX>
        <locationY>2784</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_SendtoLeadDivEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DOTSResponse2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReplyToDiv2</name>
        <label>ReplyToDiv2</label>
        <locationX>50</locationX>
        <locationY>3120</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_SendtoDiv2Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DOTSResponse3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReplyToDiv3</name>
        <label>ReplyToDiv3</label>
        <locationX>50</locationX>
        <locationY>3456</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_SendtoDiv3Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DOTSResponse4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReplyToDiv4</name>
        <label>ReplyToDiv4</label>
        <locationX>50</locationX>
        <locationY>3792</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_SendtoDiv4Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DOTSResponse5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReplyToDiv5</name>
        <label>ReplyToDiv5</label>
        <locationX>50</locationX>
        <locationY>4128</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_SendtoDiv5Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>HearingPosDivLead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReviewDiv2</name>
        <label>ReviewDiv2</label>
        <locationX>50</locationX>
        <locationY>1440</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_Div2_SendforApproval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DOReviewChk3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReviewDiv3</name>
        <label>ReviewDiv3</label>
        <locationX>50</locationX>
        <locationY>1776</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_Div3_SendforApproval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DOReviewChk4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReviewDiv4</name>
        <label>ReviewDiv4</label>
        <locationX>50</locationX>
        <locationY>2112</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_Div4_SendforApproval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DOReviewChk5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReviewDiv5</name>
        <label>ReviewDiv5</label>
        <locationX>50</locationX>
        <locationY>2448</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_Div5_SendforApproval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DOTSResponse</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReviewLeadDiv</name>
        <label>ReviewLeadDiv</label>
        <locationX>50</locationX>
        <locationY>1104</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_LeadDiv_SendforApproval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DOReviewChk2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendHAC2</name>
        <label>SendHAC2</label>
        <locationX>50</locationX>
        <locationY>6480</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_New_Hearing2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>HearingAddChg3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendHAC3</name>
        <label>SendHAC3</label>
        <locationX>50</locationX>
        <locationY>6816</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_New_Hearing3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>HearingAddChg4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendHAC4</name>
        <label>SendHAC4</label>
        <locationX>50</locationX>
        <locationY>7152</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_New_Hearing4</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>HearingAddChg5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendHAC5</name>
        <label>SendHAC5</label>
        <locationX>50</locationX>
        <locationY>7488</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_New_Hearing5</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TSubDivLead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendHACDivLead</name>
        <label>SendHACDivLead</label>
        <locationX>50</locationX>
        <locationY>6144</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_New_Hearing1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>HearingAddChg2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSubDiv2</name>
        <label>SendSubDiv2</label>
        <locationX>50</locationX>
        <locationY>8160</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_Div_Testimony_Sub_Div2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TSubDiv3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSubDiv3</name>
        <label>SendSubDiv3</label>
        <locationX>50</locationX>
        <locationY>8496</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_Div_Testimony_Sub_Div3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TSubDiv4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSubDiv4</name>
        <label>SendSubDiv4</label>
        <locationX>50</locationX>
        <locationY>8832</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_Div_Testimony_Sub_Div4</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TSubDiv5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSubDiv5</name>
        <label>SendSubDiv5</label>
        <locationX>50</locationX>
        <locationY>9168</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_Div_Testimony_Sub_Div5</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SetMeasID_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSubDivLead</name>
        <label>SendSubDivLead</label>
        <locationX>50</locationX>
        <locationY>7824</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.LeTS_Div_Testimony_Sub_Lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TSubDiv2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendTSDueDiv2</name>
        <label>SendTSDueDiv2</label>
        <locationX>754</locationX>
        <locationY>744</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_Testimony_DIV2_due_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TSRemindDiv3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendTSDueDiv3</name>
        <label>SendTSDueDiv3</label>
        <locationX>754</locationX>
        <locationY>1080</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_Testimony_DIV3_due_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TSRemindDiv4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendTSDueDiv4</name>
        <label>SendTSDueDiv4</label>
        <locationX>754</locationX>
        <locationY>1416</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_Testimony_DIV4_due_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TSRemindDiv5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendTSDueDiv5</name>
        <label>SendTSDueDiv5</label>
        <locationX>754</locationX>
        <locationY>1752</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_Testimony_DIV5_due_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SetMeasID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendTSDueDivLead</name>
        <label>SendTSDueDivLead</label>
        <locationX>754</locationX>
        <locationY>408</locationY>
        <actionName>DCCA_LeTS_Hearings_Testimony__c.Alert_Testimony_Lead_due_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TSRemindDiv2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SetMeasHTID</name>
        <label>SetMeasHTID</label>
        <locationX>886</locationX>
        <locationY>2088</locationY>
        <actionName>MeasHTInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetHTNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SetMeasHTID_0_0</name>
        <label>SetMeasHTID</label>
        <locationX>182</locationX>
        <locationY>9504</locationY>
        <actionName>MeasHTInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>HTMtgAddChgNotifs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SetMeasID</name>
        <label>SetMeasID</label>
        <locationX>886</locationX>
        <locationY>1968</locationY>
        <actionName>MeasInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetMeasHTID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>GetMeasRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SetMeasID_0_0</name>
        <label>SetMeasID</label>
        <locationX>182</locationX>
        <locationY>9384</locationY>
        <actionName>MeasInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetMeasHTID_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>GetMeasRec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>ChkifDiv</name>
        <label>ChkifDiv</label>
        <locationX>336</locationX>
        <locationY>744</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChkDivs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetDivEmail</targetReference>
            </connector>
            <label>ChkDivs</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOReviewChk</name>
        <label>DOReviewChk</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>DOReviewChk2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReviewfrmLeadDiv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Review and Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviewLeadDiv</targetReference>
            </connector>
            <label>ReviewfrmLeadDiv</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOReviewChk2</name>
        <label>DOReviewChk2</label>
        <locationX>182</locationX>
        <locationY>1320</locationY>
        <defaultConnector>
            <targetReference>DOReviewChk3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReviewfrmDiv2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Review and Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviewDiv2</targetReference>
            </connector>
            <label>ReviewfrmDiv2</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOReviewChk3</name>
        <label>DOReviewChk3</label>
        <locationX>182</locationX>
        <locationY>1656</locationY>
        <defaultConnector>
            <targetReference>DOReviewChk4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReviewfrmDiv3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Review and Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviewDiv3</targetReference>
            </connector>
            <label>ReviewfrmDiv3</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOReviewChk4</name>
        <label>DOReviewChk4</label>
        <locationX>182</locationX>
        <locationY>1992</locationY>
        <defaultConnector>
            <targetReference>DOReviewChk5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReviewfrmDiv4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Review and Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviewDiv4</targetReference>
            </connector>
            <label>ReviewfrmDiv4</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOReviewChk5</name>
        <label>DOReviewChk5</label>
        <locationX>182</locationX>
        <locationY>2328</locationY>
        <defaultConnector>
            <targetReference>DOTSResponse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReviewfrmDiv5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Review and Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviewDiv5</targetReference>
            </connector>
            <label>ReviewfrmDiv5</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOTSResponse</name>
        <label>DOTSResponse</label>
        <locationX>182</locationX>
        <locationY>2664</locationY>
        <defaultConnector>
            <targetReference>DOTSResponse2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DOtoDivLead</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReplyDivLead</targetReference>
            </connector>
            <label>DOtoDivLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOTSResponse2</name>
        <label>DOTSResponse2</label>
        <locationX>182</locationX>
        <locationY>3000</locationY>
        <defaultConnector>
            <targetReference>DOTSResponse3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DOtoDiv2</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReplyToDiv2</targetReference>
            </connector>
            <label>DOtoDiv2</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOTSResponse3</name>
        <label>DOTSResponse3</label>
        <locationX>182</locationX>
        <locationY>3336</locationY>
        <defaultConnector>
            <targetReference>DOTSResponse4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DOtoDiv3</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReplyToDiv3</targetReference>
            </connector>
            <label>DOtoDiv3</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOTSResponse4</name>
        <label>DOTSResponse4</label>
        <locationX>182</locationX>
        <locationY>3672</locationY>
        <defaultConnector>
            <targetReference>DOTSResponse5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DOtoDiv4</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReplyToDiv4</targetReference>
            </connector>
            <label>DOtoDiv4</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOTSResponse5</name>
        <label>DOTSResponse5</label>
        <locationX>182</locationX>
        <locationY>4008</locationY>
        <defaultConnector>
            <targetReference>HearingPosDivLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DOtoDiv5</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReplyToDiv5</targetReference>
            </connector>
            <label>DOtoDiv5</label>
        </rules>
    </decisions>
    <decisions>
        <name>HearingAddChg1</name>
        <label>HearingAddChg1</label>
        <locationX>182</locationX>
        <locationY>6024</locationY>
        <defaultConnector>
            <targetReference>HearingAddChg2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HACDivLead</name>
            <conditionLogic>((1 OR 2) OR (3 OR 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Meeting_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Meeting_Date_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DCCA_LeTS_HT_Meeting_Date_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Cmte_Mtg_Room__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Cmte_Mtg_Room__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DCCA_LeTS_HT_Cmte_Mtg_Room__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendHACDivLead</targetReference>
            </connector>
            <label>HACDivLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>HearingAddChg2</name>
        <label>HearingAddChg2</label>
        <locationX>182</locationX>
        <locationY>6360</locationY>
        <defaultConnector>
            <targetReference>HearingAddChg3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HACDiv2</name>
            <conditionLogic>((1 OR 2) OR (3 OR 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Meeting_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Meeting_Date_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DCCA_LeTS_HT_Meeting_Date_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Cmte_Mtg_Room__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Cmte_Mtg_Room__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DCCA_LeTS_HT_Cmte_Mtg_Room__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendHAC2</targetReference>
            </connector>
            <label>HACDiv2</label>
        </rules>
    </decisions>
    <decisions>
        <name>HearingAddChg3</name>
        <label>HearingAddChg3</label>
        <locationX>182</locationX>
        <locationY>6696</locationY>
        <defaultConnector>
            <targetReference>HearingAddChg4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HACDiv3</name>
            <conditionLogic>((1 OR 2) OR (3 OR 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Meeting_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Meeting_Date_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DCCA_LeTS_HT_Meeting_Date_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Cmte_Mtg_Room__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Cmte_Mtg_Room__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DCCA_LeTS_HT_Cmte_Mtg_Room__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendHAC3</targetReference>
            </connector>
            <label>HACDiv3</label>
        </rules>
    </decisions>
    <decisions>
        <name>HearingAddChg4</name>
        <label>HearingAddChg4</label>
        <locationX>182</locationX>
        <locationY>7032</locationY>
        <defaultConnector>
            <targetReference>HearingAddChg5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HACDiv4</name>
            <conditionLogic>((1 OR 2) OR (3 OR 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Meeting_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Meeting_Date_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DCCA_LeTS_HT_Meeting_Date_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Cmte_Mtg_Room__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Cmte_Mtg_Room__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DCCA_LeTS_HT_Cmte_Mtg_Room__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendHAC4</targetReference>
            </connector>
            <label>HACDiv4</label>
        </rules>
    </decisions>
    <decisions>
        <name>HearingAddChg5</name>
        <label>HearingAddChg5</label>
        <locationX>182</locationX>
        <locationY>7368</locationY>
        <defaultConnector>
            <targetReference>TSubDivLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HACDiv5</name>
            <conditionLogic>((1 OR 2) OR (3 OR 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Meeting_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Meeting_Date_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DCCA_LeTS_HT_Meeting_Date_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Cmte_Mtg_Room__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Cmte_Mtg_Room__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DCCA_LeTS_HT_Cmte_Mtg_Room__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendHAC5</targetReference>
            </connector>
            <label>HACDiv5</label>
        </rules>
    </decisions>
    <decisions>
        <name>HearingPosDiv2</name>
        <label>HearingPosDiv2</label>
        <locationX>182</locationX>
        <locationY>4680</locationY>
        <defaultConnector>
            <targetReference>HearingPosDiv3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HPChgDiv2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Hearing_Position__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HPAlertDiv2</targetReference>
            </connector>
            <label>HPChgDiv2</label>
        </rules>
    </decisions>
    <decisions>
        <name>HearingPosDiv3</name>
        <label>HearingPosDiv3</label>
        <locationX>182</locationX>
        <locationY>5016</locationY>
        <defaultConnector>
            <targetReference>HearingPosDiv4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HPChgDiv3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Hearing_Position__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HPAlertDiv3</targetReference>
            </connector>
            <label>HPChgDiv3</label>
        </rules>
    </decisions>
    <decisions>
        <name>HearingPosDiv4</name>
        <label>HearingPosDiv4</label>
        <locationX>182</locationX>
        <locationY>5352</locationY>
        <defaultConnector>
            <targetReference>HearingPosDiv5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HPChgDiv4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Hearing_Position__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HPAlertDiv4</targetReference>
            </connector>
            <label>HPChgDiv4</label>
        </rules>
    </decisions>
    <decisions>
        <name>HearingPosDiv5</name>
        <label>HearingPosDiv5</label>
        <locationX>182</locationX>
        <locationY>5688</locationY>
        <defaultConnector>
            <targetReference>HearingAddChg1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HPChgDiv5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Hearing_Position__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HPAlertDiv5</targetReference>
            </connector>
            <label>HPChgDiv5</label>
        </rules>
    </decisions>
    <decisions>
        <name>HearingPosDivLead</name>
        <label>HearingPosDivLead</label>
        <locationX>182</locationX>
        <locationY>4344</locationY>
        <defaultConnector>
            <targetReference>HearingPosDiv2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HPChgDivLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Lead_Hearing_Position__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HPAlertDivLead</targetReference>
            </connector>
            <label>HPChgDivLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSRemindDiv2</name>
        <label>TSRemindDiv2</label>
        <locationX>886</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>TSRemindDiv3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendTSAlertDiv2</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Hearing_Position__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Testimony_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendTSDueDiv2</targetReference>
            </connector>
            <label>SendTSAlertDiv2</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSRemindDiv3</name>
        <label>TSRemindDiv3</label>
        <locationX>886</locationX>
        <locationY>960</locationY>
        <defaultConnector>
            <targetReference>TSRemindDiv4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendTSAlertDiv3</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Hearing_Position__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Testimony_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendTSDueDiv3</targetReference>
            </connector>
            <label>SendTSAlertDiv3</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSRemindDiv4</name>
        <label>TSRemindDiv4</label>
        <locationX>886</locationX>
        <locationY>1296</locationY>
        <defaultConnector>
            <targetReference>TSRemindDiv5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendTSAlertDiv4</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Hearing_Position__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Testimony_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendTSDueDiv4</targetReference>
            </connector>
            <label>SendTSAlertDiv4</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSRemindDiv5</name>
        <label>TSRemindDiv5</label>
        <locationX>886</locationX>
        <locationY>1632</locationY>
        <defaultConnector>
            <targetReference>SetMeasID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendTSAlertDiv5</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Hearing_Position__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Testimony_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendTSDueDiv5</targetReference>
            </connector>
            <label>SendTSAlertDiv5</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSRemindDivLead</name>
        <label>TSRemindDivLead</label>
        <locationX>886</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>TSRemindDiv2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendTSAlertDivLead</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_Lead_Action__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Lead_Hearing_Position__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testimony_Comments, Testimony_Oppose, Testimony_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Testimony_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendTSDueDivLead</targetReference>
            </connector>
            <label>SendTSAlertDivLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSubDiv2</name>
        <label>TSubDiv2</label>
        <locationX>182</locationX>
        <locationY>8040</locationY>
        <defaultConnector>
            <targetReference>TSubDiv3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TSSDiv2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV2_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSubDiv2</targetReference>
            </connector>
            <label>TSSDiv2</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSubDiv3</name>
        <label>TSubDiv3</label>
        <locationX>182</locationX>
        <locationY>8376</locationY>
        <defaultConnector>
            <targetReference>TSubDiv4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TSSDiv3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV3_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSubDiv3</targetReference>
            </connector>
            <label>TSSDiv3</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSubDiv4</name>
        <label>TSubDiv4</label>
        <locationX>182</locationX>
        <locationY>8712</locationY>
        <defaultConnector>
            <targetReference>TSubDiv5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TSSDiv4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV4_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSubDiv4</targetReference>
            </connector>
            <label>TSSDiv4</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSubDiv5</name>
        <label>TSubDiv5</label>
        <locationX>182</locationX>
        <locationY>9048</locationY>
        <defaultConnector>
            <targetReference>SetMeasID_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TSSDiv5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV5_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSubDiv5</targetReference>
            </connector>
            <label>TSSDiv5</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSubDivLead</name>
        <label>TSubDivLead</label>
        <locationX>182</locationX>
        <locationY>7704</locationY>
        <defaultConnector>
            <targetReference>TSubDiv2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TSSDivLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Testimony_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_HT_DIV_Testimony_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSubDivLead</targetReference>
            </connector>
            <label>TSSDivLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateDivsFrmMeas</name>
        <label>UpdateDivsFrmMeas</label>
        <locationX>336</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>ChkifDiv</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetHTEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Measure_base__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetMeasRec.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HTUpdtfrmMeas</targetReference>
            </connector>
            <label>SetHTEmail</label>
        </rules>
    </decisions>
    <formulas>
        <name>Div2Email</name>
        <dataType>String</dataType>
        <expression>CASE( {!$Record.DCCA_LeTS_HT_DIV2__c} , 
&quot;ASO&quot;, {!$Record.DCCA_LeTS_HT_Email_ASO__c} , 
&quot;BREG&quot;, {!$Record.DCCA_LeTS_HT_Email_BREG__c} ,
&quot;CATV&quot;, {!$Record.DCCA_LeTS_HT_Email_CATV__c} ,
&quot;DCA&quot;, {!$Record.DCCA_LeTS_HT_Email_DCA__c} , 
&quot;DFI&quot;, {!$Record.DCCA_LeTS_HT_Email_DFI__c} , 
&quot;DO&quot;, {!$Record.DCCA_LeTS_HT_Email_DO__c} , 
&quot;HPEAP&quot;, {!$Record.DCCA_LeTS_HT_Email_HPEAP__c} , 
&quot;INS&quot;, {!$Record.DCCA_LeTS_HT_Email_INS__c} , 
&quot;ISCO&quot;, {!$Record.DCCA_LeTS_HT_Email_ISCO__c} , 
&quot;OAH&quot;, {!$Record.DCCA_LeTS_HT_Email_OAH__c} ,
&quot;OCP&quot;, {!$Record.DCCA_LeTS_HT_Email_OCP__c} , 
&quot;PVL&quot;, {!$Record.DCCA_LeTS_HT_Email_PVL__c} , 
&quot;RICO&quot;, {!$Record.DCCA_LeTS_HT_Email_RICO__c} , 
&quot;PVL_Board&quot;, {!$Record.DCCA_LeTS_HT_Email_PVL__c} , &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>Div3Email</name>
        <dataType>String</dataType>
        <expression>CASE( {!$Record.DCCA_LeTS_HT_DIV3__c} , 
&quot;ASO&quot;, {!$Record.DCCA_LeTS_HT_Email_ASO__c} , 
&quot;BREG&quot;, {!$Record.DCCA_LeTS_HT_Email_BREG__c} ,
&quot;CATV&quot;, {!$Record.DCCA_LeTS_HT_Email_CATV__c} ,
&quot;DCA&quot;, {!$Record.DCCA_LeTS_HT_Email_DCA__c} , 
&quot;DFI&quot;, {!$Record.DCCA_LeTS_HT_Email_DFI__c} , 
&quot;DO&quot;, {!$Record.DCCA_LeTS_HT_Email_DO__c} , 
&quot;HPEAP&quot;, {!$Record.DCCA_LeTS_HT_Email_HPEAP__c} , 
&quot;INS&quot;, {!$Record.DCCA_LeTS_HT_Email_INS__c} , 
&quot;ISCO&quot;, {!$Record.DCCA_LeTS_HT_Email_ISCO__c} , 
&quot;OAH&quot;, {!$Record.DCCA_LeTS_HT_Email_OAH__c} ,
&quot;OCP&quot;, {!$Record.DCCA_LeTS_HT_Email_OCP__c} , 
&quot;PVL&quot;, {!$Record.DCCA_LeTS_HT_Email_PVL__c} , 
&quot;RICO&quot;, {!$Record.DCCA_LeTS_HT_Email_RICO__c} , 
&quot;PVL_Board&quot;, {!$Record.DCCA_LeTS_HT_Email_PVL__c} , &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>Div4Email</name>
        <dataType>String</dataType>
        <expression>CASE( {!$Record.DCCA_LeTS_HT_DIV4__c} , 
&quot;ASO&quot;, {!$Record.DCCA_LeTS_HT_Email_ASO__c} , 
&quot;BREG&quot;, {!$Record.DCCA_LeTS_HT_Email_BREG__c} ,
&quot;CATV&quot;, {!$Record.DCCA_LeTS_HT_Email_CATV__c} ,
&quot;DCA&quot;, {!$Record.DCCA_LeTS_HT_Email_DCA__c} , 
&quot;DFI&quot;, {!$Record.DCCA_LeTS_HT_Email_DFI__c} , 
&quot;DO&quot;, {!$Record.DCCA_LeTS_HT_Email_DO__c} , 
&quot;HPEAP&quot;, {!$Record.DCCA_LeTS_HT_Email_HPEAP__c} , 
&quot;INS&quot;, {!$Record.DCCA_LeTS_HT_Email_INS__c} , 
&quot;ISCO&quot;, {!$Record.DCCA_LeTS_HT_Email_ISCO__c} , 
&quot;OAH&quot;, {!$Record.DCCA_LeTS_HT_Email_OAH__c} ,
&quot;OCP&quot;, {!$Record.DCCA_LeTS_HT_Email_OCP__c} , 
&quot;PVL&quot;, {!$Record.DCCA_LeTS_HT_Email_PVL__c} , 
&quot;RICO&quot;, {!$Record.DCCA_LeTS_HT_Email_RICO__c} , 
&quot;PVL_Board&quot;, {!$Record.DCCA_LeTS_HT_Email_PVL__c} , &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>Div5Email</name>
        <dataType>String</dataType>
        <expression>CASE( {!$Record.DCCA_LeTS_HT_DIV5__c} , 
&quot;ASO&quot;, {!$Record.DCCA_LeTS_HT_Email_ASO__c} , 
&quot;BREG&quot;, {!$Record.DCCA_LeTS_HT_Email_BREG__c} ,
&quot;CATV&quot;, {!$Record.DCCA_LeTS_HT_Email_CATV__c} ,
&quot;DCA&quot;, {!$Record.DCCA_LeTS_HT_Email_DCA__c} , 
&quot;DFI&quot;, {!$Record.DCCA_LeTS_HT_Email_DFI__c} , 
&quot;DO&quot;, {!$Record.DCCA_LeTS_HT_Email_DO__c} , 
&quot;HPEAP&quot;, {!$Record.DCCA_LeTS_HT_Email_HPEAP__c} , 
&quot;INS&quot;, {!$Record.DCCA_LeTS_HT_Email_INS__c} , 
&quot;ISCO&quot;, {!$Record.DCCA_LeTS_HT_Email_ISCO__c} , 
&quot;OAH&quot;, {!$Record.DCCA_LeTS_HT_Email_OAH__c} ,
&quot;OCP&quot;, {!$Record.DCCA_LeTS_HT_Email_OCP__c} , 
&quot;PVL&quot;, {!$Record.DCCA_LeTS_HT_Email_PVL__c} , 
&quot;RICO&quot;, {!$Record.DCCA_LeTS_HT_Email_RICO__c} , 
&quot;PVL_Board&quot;, {!$Record.DCCA_LeTS_HT_Email_PVL__c} , &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>DivLeadEmail</name>
        <dataType>String</dataType>
        <expression>CASE( {!$Record.DCCA_LeTS_HT_DIV_Lead__c} , 
&quot;ASO&quot;, {!$Record.DCCA_LeTS_HT_Email_ASO__c} , 
&quot;BREG&quot;, {!$Record.DCCA_LeTS_HT_Email_BREG__c} ,
&quot;CATV&quot;, {!$Record.DCCA_LeTS_HT_Email_CATV__c} ,
&quot;DCA&quot;, {!$Record.DCCA_LeTS_HT_Email_DCA__c} , 
&quot;DFI&quot;, {!$Record.DCCA_LeTS_HT_Email_DFI__c} , 
&quot;DO&quot;, {!$Record.DCCA_LeTS_HT_Email_DO__c} , 
&quot;HPEAP&quot;, {!$Record.DCCA_LeTS_HT_Email_HPEAP__c} , 
&quot;INS&quot;, {!$Record.DCCA_LeTS_HT_Email_INS__c} , 
&quot;ISCO&quot;, {!$Record.DCCA_LeTS_HT_Email_ISCO__c} , 
&quot;OAH&quot;, {!$Record.DCCA_LeTS_HT_Email_OAH__c} ,
&quot;OCP&quot;, {!$Record.DCCA_LeTS_HT_Email_OCP__c} , 
&quot;PVL&quot;, {!$Record.DCCA_LeTS_HT_Email_PVL__c} , 
&quot;RICO&quot;, {!$Record.DCCA_LeTS_HT_Email_RICO__c} , 
&quot;PVL_Board&quot;, {!$Record.DCCA_LeTS_HT_Email_PVL__c} , &quot;&quot; )</expression>
    </formulas>
    <interviewLabel>HTNotifsEmails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HTNotifsEmails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMeasRec</name>
        <label>GetMeasRec</label>
        <locationX>336</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateDivsFrmMeas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DCCA_LeTS_Measure_base__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_LeTS_Measure_Main__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>HTUpdtfrmMeas</name>
        <label>HTUpdtfrmMeas</label>
        <locationX>204</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>ChkifDiv</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV2_Action__c</field>
            <value>
                <elementReference>GetMeasRec.Div2_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV2__c</field>
            <value>
                <elementReference>GetMeasRec.Div2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV3_Action__c</field>
            <value>
                <elementReference>GetMeasRec.Div3_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV3__c</field>
            <value>
                <elementReference>GetMeasRec.Div3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV4_Action__c</field>
            <value>
                <elementReference>GetMeasRec.Div4_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV4__c</field>
            <value>
                <elementReference>GetMeasRec.Div4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV5_Action__c</field>
            <value>
                <elementReference>GetMeasRec.Div5_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV5__c</field>
            <value>
                <elementReference>$Record.DCCA_LeTS_HT_DIV5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV_Lead__c</field>
            <value>
                <elementReference>GetMeasRec.Lead_Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Lead_Action__c</field>
            <value>
                <elementReference>GetMeasRec.Lead_Div_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ResetDivEmail</name>
        <label>ResetDivEmail</label>
        <locationX>182</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>DOReviewChk</targetReference>
        </connector>
        <inputAssignments>
            <field>LeTS_Div2_email__c</field>
            <value>
                <elementReference>Div2Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeTS_Div3_email__c</field>
            <value>
                <elementReference>Div3Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeTS_Div4_email__c</field>
            <value>
                <elementReference>Div4Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeTS_Div5_email__c</field>
            <value>
                <elementReference>Div5Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeTS_Lead_Div_email__c</field>
            <value>
                <elementReference>DivLeadEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetMeasRec</targetReference>
        </connector>
        <object>DCCA_LeTS_Hearings_Testimony__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>TSReminder</name>
            <connector>
                <targetReference>TSRemindDivLead</targetReference>
            </connector>
            <label>TSReminder</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>DCCA_LeTS_HT_Mtg_Adjusted__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>HTMtgAddChgNotifs</name>
        <label>HTMtgAddChgNotifs</label>
        <locationX>182</locationX>
        <locationY>9624</locationY>
        <flowName>HTMeetingAddChg</flowName>
    </subflows>
    <subflows>
        <name>SetHTNotification</name>
        <label>SetHTNotification</label>
        <locationX>886</locationX>
        <locationY>2208</locationY>
        <flowName>HT_TS_Reminder_Notif</flowName>
    </subflows>
</Flow>
