flows/LeTS_Meas_Email_to_KY.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SetMeasEmailtoKY1</name>
        <label>SetMeasEmailtoKY1</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.LeTS_KY_Email_Updt1</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>SetMeasEmailtoKY2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_ASO__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_ASO__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_BREG__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_BREG__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_CATV__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_CATV__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_DCA__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_DCA__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_DFI__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_DFI__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_DO__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_DO__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SetMeasEmailtoKY2</name>
        <label>SetMeasEmailtoKY2</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.LeTS_KY_Email_Updt2</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_HPEAP__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_HPEAP__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_INS__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_INS__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_ISCO__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_ISCO__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_OAH__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_OAH__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_OCP__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_OCP__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_PVL__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_PVL__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DCCA_LeTS_KY_Email_RICO__c</name>
            <value>
                <elementReference>GetParentMeasforKY.DCCA_LeTS_Meas_Email_RICO__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>LeTS Meas Email to KY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeTS Meas Email to KY</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetParentMeasforKY</name>
        <label>GetParentMeasforKY</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMeasEmailtoKY1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DCCA_LeTS_Meas_baseid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DCCA_LeTS_KY_Meas_Baseid__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_LeTS_Measure_Main__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParentMeasforKY</targetReference>
        </connector>
        <object>DCCA_LeTS_Div_Keyword__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
