flows/LeTSMeasSetup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AllTrkOffNotif</name>
        <label>AllTrkOffNotif</label>
        <locationX>380</locationX>
        <locationY>5783</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>MeasIdentChg1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifATrkId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>All Track turned off for Measure {![DCCA_LeTS_Measure_Main__c].DCCA_LeTS_Meas_baseid__c}.  Click on the number here to go directly to the Measure - {![DCCA_LeTS_Measure_Main__c].Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>All Track turned off for Measure {![DCCA_LeTS_Measure_Main__c].DCCA_LeTS_Meas_baseid__c}.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GrpMembers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AllTrkOnNotif</name>
        <label>AllTrkOnNotif</label>
        <locationX>116</locationX>
        <locationY>5783</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>MeasIdentChg1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifATrkId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>All Track turned on for Measure {![DCCA_LeTS_Measure_Main__c].DCCA_LeTS_Meas_baseid__c}.  Click on the number here to go directly to the Measure - {![DCCA_LeTS_Measure_Main__c].Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>All Track has been turned on for Measure - {![DCCA_LeTS_Measure_Main__c].DCCA_LeTS_Meas_baseid__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GrpMembers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MeasAddNotif_0</name>
        <label>MeasAddNotif</label>
        <locationX>248</locationX>
        <locationY>5327</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>AllTrackSet</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifMeasId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New Measure added -  {![DCCA_LeTS_Measure_Main__c].DCCA_LeTS_Meas_Identifier__c} has been added to LeTS. New Measure can be found at -  {![DCCA_LeTS_Measure_Main__c].Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Measure added to LeTS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GrpMembers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendAllTrkOff</name>
        <label>SendAllTrkOff</label>
        <locationX>380</locationX>
        <locationY>5663</locationY>
        <actionName>DCCA_LeTS_Measure_Main__c.LeTS_All_Track_turned_off_Notice</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AllTrkOffNotif</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendAllTrkOn</name>
        <label>SendAllTrkOn</label>
        <locationX>116</locationX>
        <locationY>5663</locationY>
        <actionName>DCCA_LeTS_Measure_Main__c.LeTS_All_Track_turned_on_Notice</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AllTrkOnNotif</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendMeasIdentChg1</name>
        <label>SendMeasIdentChg1</label>
        <locationX>248</locationX>
        <locationY>6119</locationY>
        <actionName>DCCA_LeTS_Measure_Main__c.Alert_Measure_Identifier_Chg1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>MeasIdentChg2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendMeasIdentChg2</name>
        <label>SendMeasIdentChg2</label>
        <locationX>248</locationX>
        <locationY>6455</locationY>
        <actionName>DCCA_LeTS_Measure_Main__c.Alert_Measure_Identifier_Chg2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SetAdminInd</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendNewMeas</name>
        <label>SendNewMeas</label>
        <locationX>248</locationX>
        <locationY>5207</locationY>
        <actionName>DCCA_LeTS_Measure_Main__c.Alert_New_Measure_added</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>MeasAddNotif_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UpdtMeasHTs_0</name>
        <label>UpdtMeasHTs</label>
        <locationX>248</locationX>
        <locationY>7463</locationY>
        <actionName>MeasInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MeasChildrenUpdt_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>GrpIDAssign</name>
        <label>GrpIDAssign</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>GrpMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetLeTSMailList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAdmin_0</name>
        <label>SetAdmin</label>
        <locationX>314</locationX>
        <locationY>6911</locationY>
        <assignmentItems>
            <assignToReference>AdminVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ADMIN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdtAdminInd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDCCAAdminInd</name>
        <label>SetDCCAAdminInd</label>
        <locationX>50</locationX>
        <locationY>6911</locationY>
        <assignmentItems>
            <assignToReference>AdminVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CCA-ADMIN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdtAdminInd</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CommerceAdmin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>commerce</stringValue>
        </value>
    </constants>
    <constants>
        <name>DCCAAdmin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DCCA</stringValue>
        </value>
    </constants>
    <decisions>
        <description>New Measures added after the Bill/Reso cutoffs</description>
        <name>AllTrackSet</name>
        <label>AllTrackSet</label>
        <locationX>380</locationX>
        <locationY>5543</locationY>
        <defaultConnector>
            <targetReference>MeasIdentChg1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllTrackOn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.All_Divisions_Track__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Divisions_Track__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All Track</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendAllTrkOn</targetReference>
            </connector>
            <label>AllTrackOn</label>
        </rules>
        <rules>
            <name>AllTrackOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.All_Divisions_Track__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Divisions_Track__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendAllTrkOff</targetReference>
            </connector>
            <label>AllTrackOff</label>
        </rules>
    </decisions>
    <decisions>
        <description>New Measures added after the Bill/Reso cutoffs</description>
        <name>MeasAfterLegDate</name>
        <label>MeasAfterLegDate</label>
        <locationX>380</locationX>
        <locationY>5087</locationY>
        <defaultConnector>
            <targetReference>AllTrackSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AlertNewMeasure</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2022-01-27T10:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_baseid__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>HB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_baseid__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNewMeas</targetReference>
            </connector>
            <label>AlertNewMeasure</label>
        </rules>
    </decisions>
    <decisions>
        <name>MeasIdentChg1</name>
        <label>MeasIdentChg1</label>
        <locationX>380</locationX>
        <locationY>5999</locationY>
        <defaultConnector>
            <targetReference>MeasIdentChg2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChgMeasIdent1</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7) AND (8 OR 9 OR 10 OR 11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Identifier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_ASO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_BREG__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_CATV__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_DCA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_DFI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_DO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMeasIdentChg1</targetReference>
            </connector>
            <label>ChgMeasIdent1</label>
        </rules>
    </decisions>
    <decisions>
        <name>MeasIdentChg2</name>
        <label>MeasIdentChg2</label>
        <locationX>380</locationX>
        <locationY>6335</locationY>
        <defaultConnector>
            <targetReference>SetAdminInd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChgMeasIdent2</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 13) AND (8 OR 9 OR 10 OR 11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Identifier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_HPEAP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_INS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_ISCO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_OAH__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_OCP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_PVL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Email_RICO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMeasIdentChg2</targetReference>
            </connector>
            <label>ChgMeasIdent2</label>
        </rules>
    </decisions>
    <decisions>
        <name>NeedUpdtHts</name>
        <label>NeedUpdtHts</label>
        <locationX>380</locationX>
        <locationY>7343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdtHtsForMeas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Div_Action__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2_Action__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3_Action__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4_Action__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5_Action__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdtMeasHTs_0</targetReference>
            </connector>
            <label>UpdtHtsForMeas</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetAdminInd</name>
        <label>SetAdminInd</label>
        <locationX>380</locationX>
        <locationY>6671</locationY>
        <defaultConnector>
            <targetReference>NeedUpdtHts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdtAdminValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Governor Package</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Admin_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhichAdminValue</targetReference>
            </connector>
            <label>UpdtAdminValue</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailASO</name>
        <label>SetMeasEmailASO</label>
        <locationX>380</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailBREG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailASO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailASO</targetReference>
            </connector>
            <label>SetEmailASO</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailBREG</name>
        <label>SetMeasEmailBREG</label>
        <locationX>380</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailCATV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailBREG</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailBREG</targetReference>
            </connector>
            <label>SetEmailBREG</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailCATV</name>
        <label>SetMeasEmailCATV</label>
        <locationX>380</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailDCA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailCATV</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailCATV</targetReference>
            </connector>
            <label>SetEmailCATV</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailDCA</name>
        <label>SetMeasEmailDCA</label>
        <locationX>380</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailDFI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailDCA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailDCA</targetReference>
            </connector>
            <label>SetEmailDCA</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailDFI</name>
        <label>SetMeasEmailDFI</label>
        <locationX>380</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailHPEAP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailDFI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailDFI</targetReference>
            </connector>
            <label>SetEmailDFI</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailHPEAP</name>
        <label>SetMeasEmailHPEAP</label>
        <locationX>380</locationX>
        <locationY>2735</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailINS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailHPEAP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailHPEAP</targetReference>
            </connector>
            <label>SetEmailHPEAP</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailINS</name>
        <label>SetMeasEmailINS</label>
        <locationX>380</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailISCO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailINS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailINS</targetReference>
            </connector>
            <label>SetEmailINS</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailISCO</name>
        <label>SetMeasEmailISCO</label>
        <locationX>380</locationX>
        <locationY>3407</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailOAH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailISCO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailISCO</targetReference>
            </connector>
            <label>SetEmailISCO</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailOAH</name>
        <label>SetMeasEmailOAH</label>
        <locationX>380</locationX>
        <locationY>3743</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailOCP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailOAH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailOAH</targetReference>
            </connector>
            <label>SetEmailOAH</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailOCP</name>
        <label>SetMeasEmailOCP</label>
        <locationX>380</locationX>
        <locationY>4079</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailPVL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailOCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailOCP</targetReference>
            </connector>
            <label>SetEmailOCP</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailPVL</name>
        <label>SetMeasEmailPVL</label>
        <locationX>380</locationX>
        <locationY>4415</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailRICO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailPVL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL_Board</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL_Board</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL_Board</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL_Board</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL_Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailPVL</targetReference>
            </connector>
            <label>SetEmailPVL</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailRICO</name>
        <label>SetMeasEmailRICO</label>
        <locationX>380</locationX>
        <locationY>4751</locationY>
        <defaultConnector>
            <targetReference>MeasAfterLegDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailRICO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdEmailRICO</targetReference>
            </connector>
            <label>SetEmailRICO</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichAdminValue</name>
        <label>WhichAdminValue</label>
        <locationX>182</locationX>
        <locationY>6791</locationY>
        <defaultConnector>
            <targetReference>SetAdmin_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCCAValue</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Main_Report_Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DCCAAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Main_Report_Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommerceAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DCCAAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommerceAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Desc__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DCCAAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Desc__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommerceAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Governor Package</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDCCAAdminInd</targetReference>
            </connector>
            <label>DCCAValue</label>
        </rules>
    </decisions>
    <interviewLabel>LeTSMeasSetup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeTSMeasSetup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CustomNotifATrkId</name>
        <label>CustomNotifATrkId</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MeasGrpUsed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All_Track</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CustomNotifMeasId</name>
        <label>CustomNotifMeasId</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomNotifATrkId</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alert_New_Measure</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLeTSMailList</name>
        <label>GetLeTSMailList</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMeasEmailAddrs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DCCA_Division_ML__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_DO_Mail_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MeasGrpUsed</name>
        <label>MeasGrpUsed</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GrpIDAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTS_Notifications</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>GroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>SetMeasEmailAddrs</name>
        <label>SyncAllCoordEmails</label>
        <locationX>380</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>SetMeasEmailASO</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_ASO__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_All__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_All__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_BREG__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_CATV__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_DCA__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_DFI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_DO__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_DO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_HPEAP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_INS__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_ISCO__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_Leg_Coord__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_Coordinators__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_OAH__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_OCP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_PVL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_RICO__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailASO</name>
        <label>UpdEmailASO</label>
        <locationX>248</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>SetMeasEmailBREG</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_ASO__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_ASO__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailBREG</name>
        <label>UpdEmailBREG</label>
        <locationX>248</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>SetMeasEmailCATV</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_BREG__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_BREG__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailCATV</name>
        <label>UpdEmailCATV</label>
        <locationX>248</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>SetMeasEmailDCA</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_CATV__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_CATV__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailDCA</name>
        <label>UpdEmailDCA</label>
        <locationX>248</locationX>
        <locationY>2183</locationY>
        <connector>
            <targetReference>SetMeasEmailDFI</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_DCA__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_DCA__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailDFI</name>
        <label>UpdEmailDFI</label>
        <locationX>248</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>SetMeasEmailHPEAP</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_DFI__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_DFI__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailHPEAP</name>
        <label>UpdEmailHPEAP</label>
        <locationX>248</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>SetMeasEmailINS</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_HPEAP__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_HPEAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailINS</name>
        <label>UpdEmailINS</label>
        <locationX>248</locationX>
        <locationY>3191</locationY>
        <connector>
            <targetReference>SetMeasEmailISCO</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_INS__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_INS__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailISCO</name>
        <label>UpdEmailISCO</label>
        <locationX>248</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>SetMeasEmailOAH</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_ISCO__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_ISCO__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailOAH</name>
        <label>UpdEmailOAH</label>
        <locationX>248</locationX>
        <locationY>3863</locationY>
        <connector>
            <targetReference>SetMeasEmailOCP</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_OAH__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_OAH__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailOCP</name>
        <label>UpdEmailOCP</label>
        <locationX>248</locationX>
        <locationY>4199</locationY>
        <connector>
            <targetReference>SetMeasEmailPVL</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_OCP__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_OCP__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailPVL</name>
        <label>UpdEmailPVL</label>
        <locationX>248</locationX>
        <locationY>4535</locationY>
        <connector>
            <targetReference>SetMeasEmailRICO</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_PVL__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_PVL__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEmailRICO</name>
        <label>UpdEmailRICO</label>
        <locationX>248</locationX>
        <locationY>4871</locationY>
        <connector>
            <targetReference>MeasAfterLegDate</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_RICO__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_RICO__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdtAdminInd</name>
        <label>UpdtAdminInd</label>
        <locationX>182</locationX>
        <locationY>7127</locationY>
        <connector>
            <targetReference>NeedUpdtHts</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Admin_Indicator__c</field>
            <value>
                <elementReference>AdminVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CustomNotifMeasId</targetReference>
        </connector>
        <object>DCCA_LeTS_Measure_Main__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>MeasChildrenUpdt_0</name>
        <label>MeasChildrenUpdt</label>
        <locationX>248</locationX>
        <locationY>7583</locationY>
        <flowName>UpdtMeasChildren</flowName>
    </subflows>
    <variables>
        <name>Admin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Admin</stringValue>
        </value>
    </variables>
    <variables>
        <name>AdminVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Admin</stringValue>
        </value>
    </variables>
    <variables>
        <name>GroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GrpMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeasNotifCstmId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
