flows/LeTSMeasSetup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MeasNotifs</name>
        <label>MeasNotifs</label>
        <locationX>314</locationX>
        <locationY>5063</locationY>
        <actionName>MeasInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NotifMeasEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UpdtMeasHTs_0</name>
        <label>UpdtMeasHTs</label>
        <locationX>182</locationX>
        <locationY>5423</locationY>
        <actionName>MeasInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MeasChildrenUpdt_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>EmailASO</name>
        <label>EmailASO</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ASOEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.DCCA_LeTS_Mail_List__r.DCCA_Leg_ASO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailBREG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailBREG</name>
        <label>EmailBREG</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>BREGEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.DCCA_LeTS_Mail_List__r.DCCA_Leg_BREG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailCATV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailCATV</name>
        <label>EmailCATV</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>CATVEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_CATV__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailDCA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailDCA</name>
        <label>EmailDCA</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>DCAEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_DCA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailDFI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailDFI</name>
        <label>EmailDFI</label>
        <locationX>182</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>DFIEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_DFI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailHPEAP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailHPEAP</name>
        <label>EmailHPEAP</label>
        <locationX>182</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>HPEAPEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_HPEAP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailINS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailINS</name>
        <label>EmailINS</label>
        <locationX>182</locationX>
        <locationY>2591</locationY>
        <assignmentItems>
            <assignToReference>INSEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_INS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailISCO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailISCO</name>
        <label>EmailISCO</label>
        <locationX>182</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>ISCOEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_ISCO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailOAH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailOAH</name>
        <label>EmailOAH</label>
        <locationX>182</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>OAHEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_OAH__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailOCP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailOCP</name>
        <label>EmailOCP</label>
        <locationX>182</locationX>
        <locationY>3599</locationY>
        <assignmentItems>
            <assignToReference>OCPEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_OCP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailPVL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailPVL</name>
        <label>EmailPVL</label>
        <locationX>182</locationX>
        <locationY>3935</locationY>
        <assignmentItems>
            <assignToReference>PVLEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_PVL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasEmailRICO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailRICO</name>
        <label>EmailRICO</label>
        <locationX>182</locationX>
        <locationY>4271</locationY>
        <assignmentItems>
            <assignToReference>RICOEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_RICO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichAdminValue_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NonAdmin_0</name>
        <label>NonAdmin</label>
        <locationX>578</locationX>
        <locationY>4607</locationY>
        <assignmentItems>
            <assignToReference>AdminVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>non-ADMIN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasTo200</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAdmin_0_0_0</name>
        <label>SetAdmin</label>
        <locationX>314</locationX>
        <locationY>4607</locationY>
        <assignmentItems>
            <assignToReference>AdminVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADMIN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasTo200</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDCCAAdminInd_0</name>
        <label>SetDCCAAdminInd</label>
        <locationX>50</locationX>
        <locationY>4607</locationY>
        <assignmentItems>
            <assignToReference>AdminVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCA-ADMIN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetMeasTo200</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMeasTo200</name>
        <label>SetMeasTo200</label>
        <locationX>314</locationX>
        <locationY>4823</locationY>
        <assignmentItems>
            <assignToReference>ForMeasStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetMeasStagelen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SyncAllLCDOEmailsnStage_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CommerceAdmin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>commerce</stringValue>
        </value>
    </constants>
    <constants>
        <name>DCCAAdmin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DCCA</stringValue>
        </value>
    </constants>
    <constants>
        <name>GovPack</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Governor Package</stringValue>
        </value>
    </constants>
    <decisions>
        <name>NeedUpdtHts</name>
        <label>NeedUpdtHts</label>
        <locationX>314</locationX>
        <locationY>5303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdtHtsForMeas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lead_Division__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Div_Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lead_Div_Action__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Div2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2_Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Div2_Action__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Div3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3_Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Div3_Action__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Div4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4_Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Div4_Action__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Div5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5_Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Div5_Action__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdtMeasHTs_0</targetReference>
            </connector>
            <label>UpdtHtsForMeas</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailASO</name>
        <label>SetMeasEmailASO</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailBREG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailASO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailASO</targetReference>
            </connector>
            <label>SetEmailASO</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailBREG</name>
        <label>SetMeasEmailBREG</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailCATV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailBREG</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailBREG</targetReference>
            </connector>
            <label>SetEmailBREG</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailCATV</name>
        <label>SetMeasEmailCATV</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailDCA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailCATV</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailCATV</targetReference>
            </connector>
            <label>SetEmailCATV</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailDCA</name>
        <label>SetMeasEmailDCA</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailDFI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailDCA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailDCA</targetReference>
            </connector>
            <label>SetEmailDCA</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailDFI</name>
        <label>SetMeasEmailDFI</label>
        <locationX>314</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailHPEAP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailDFI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailDFI</targetReference>
            </connector>
            <label>SetEmailDFI</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailHPEAP</name>
        <label>SetMeasEmailHPEAP</label>
        <locationX>314</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailINS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailHPEAP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailHPEAP</targetReference>
            </connector>
            <label>SetEmailHPEAP</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailINS</name>
        <label>SetMeasEmailINS</label>
        <locationX>314</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailISCO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailINS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailINS</targetReference>
            </connector>
            <label>SetEmailINS</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailISCO</name>
        <label>SetMeasEmailISCO</label>
        <locationX>314</locationX>
        <locationY>2807</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailOAH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailISCO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailISCO</targetReference>
            </connector>
            <label>SetEmailISCO</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailOAH</name>
        <label>SetMeasEmailOAH</label>
        <locationX>314</locationX>
        <locationY>3143</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailOCP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailOAH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailOAH</targetReference>
            </connector>
            <label>SetEmailOAH</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailOCP</name>
        <label>SetMeasEmailOCP</label>
        <locationX>314</locationX>
        <locationY>3479</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailPVL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailOCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailOCP</targetReference>
            </connector>
            <label>SetEmailOCP</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailPVL</name>
        <label>SetMeasEmailPVL</label>
        <locationX>314</locationX>
        <locationY>3815</locationY>
        <defaultConnector>
            <targetReference>SetMeasEmailRICO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailPVL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL_Board</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL_Board</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL_Board</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL_Board</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL_Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailPVL</targetReference>
            </connector>
            <label>SetEmailPVL</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetMeasEmailRICO</name>
        <label>SetMeasEmailRICO</label>
        <locationX>314</locationX>
        <locationY>4151</locationY>
        <defaultConnector>
            <targetReference>WhichAdminValue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetEmailRICO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Div5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailRICO</targetReference>
            </connector>
            <label>SetEmailRICO</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichAdminValue_0</name>
        <label>WhichAdminValue</label>
        <locationX>314</locationX>
        <locationY>4487</locationY>
        <defaultConnector>
            <targetReference>NonAdmin_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCCAValue_0</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Main_Report_Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DCCAAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Main_Report_Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommerceAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DCCAAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommerceAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Desc__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DCCAAdmin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Meas_Desc__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommerceAdmin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDCCAAdminInd_0</targetReference>
            </connector>
            <label>DCCAValue</label>
        </rules>
        <rules>
            <name>GovPackage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_Package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Governor Package</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAdmin_0_0_0</targetReference>
            </connector>
            <label>GovPackage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SetMeasStagelen</name>
        <dataType>String</dataType>
        <expression>LEFT ({!$Record.DCCA_LeTS_Current_Status__c}, 200)</expression>
    </formulas>
    <interviewLabel>LeTSMeasSetup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeTSMeasSetup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLeTSMailList</name>
        <label>GetLeTSMailList</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMeasEmailASO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DCCA_Division_ML__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_DO_Mail_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SyncAllLCDOEmailsnStage_0</name>
        <label>SyncAllLCDOEmailsnStage</label>
        <locationX>314</locationX>
        <locationY>4943</locationY>
        <connector>
            <targetReference>MeasNotifs</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_Admin_Indicator__c</field>
            <value>
                <elementReference>AdminVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_ASO__c</field>
            <value>
                <elementReference>ASOEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_All__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_All__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_BREG__c</field>
            <value>
                <elementReference>BREGEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_CATV__c</field>
            <value>
                <elementReference>CATVEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_DCA__c</field>
            <value>
                <elementReference>DCAEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_DFI__c</field>
            <value>
                <elementReference>DFIEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_DO__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_DO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_HPEAP__c</field>
            <value>
                <elementReference>HPEAPEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_INS__c</field>
            <value>
                <elementReference>INSEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_ISCO__c</field>
            <value>
                <elementReference>ISCOEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_Leg_Coord__c</field>
            <value>
                <elementReference>GetLeTSMailList.DCCA_Leg_Coordinators__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_OAH__c</field>
            <value>
                <elementReference>OAHEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_OCP__c</field>
            <value>
                <elementReference>OCPEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_PVL__c</field>
            <value>
                <elementReference>PVLEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_Meas_Email_RICO__c</field>
            <value>
                <elementReference>RICOEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SetMeasStage__c</field>
            <value>
                <elementReference>ForMeasStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLeTSMailList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>2023-2024</stringValue>
            </value>
        </filters>
        <object>DCCA_LeTS_Measure_Main__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>MeasChildrenUpdt_0</name>
        <label>MeasChildrenUpdt</label>
        <locationX>182</locationX>
        <locationY>5543</locationY>
        <flowName>UpdtMeasChildren</flowName>
        <inputAssignments>
            <name>MeasRecId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>NotifMeasEmail</name>
        <label>NotifMeasEmail</label>
        <locationX>314</locationX>
        <locationY>5183</locationY>
        <connector>
            <targetReference>NeedUpdtHts</targetReference>
        </connector>
        <flowName>MeasNotifications</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Admin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Admin</stringValue>
        </value>
    </variables>
    <variables>
        <name>AdminVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Admin</stringValue>
        </value>
    </variables>
    <variables>
        <name>AllTrkNotifID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ASOEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BREGEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CATVEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DCAEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DFIEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ForMeasStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GrpMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HPEAPEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>INSEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ISCOEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeasNotifCstmId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OAHEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OCPEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PVLEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RICOEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
