flows/LeTSDIVKYNotifEmail.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ContextKYNotifASO</name>
        <label>ContextKYNotifASO</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifBREG</name>
        <label>ContextKYNotifBREG</label>
        <locationX>314</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifCATV</name>
        <label>ContextKYNotifCATV</label>
        <locationX>578</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifDCA</name>
        <label>ContextKYNotifDCA</label>
        <locationX>842</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifDFI_0</name>
        <label>ContextKYNotifDFI</label>
        <locationX>1106</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifDO</name>
        <label>ContextKYNotifDO</label>
        <locationX>1370</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifHPEAP</name>
        <label>ContextKYNotifHPEAP</label>
        <locationX>1634</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifINS</name>
        <label>ContextKYNotifINS</label>
        <locationX>1898</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifISCO</name>
        <label>ContextKYNotifISCO</label>
        <locationX>2162</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifOAH</name>
        <label>ContextKYNotifOAH</label>
        <locationX>2426</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifOCP</name>
        <label>ContextKYNotifOCP</label>
        <locationX>2690</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifPVL</name>
        <label>ContextKYNotifPVL</label>
        <locationX>2954</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ContextKYNotifRICO</name>
        <label>ContextKYNotifRICO</label>
        <locationX>3218</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DivKYContextChg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Keyword Match context has changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContentChgCATV</name>
        <label>KYContentChgCATV</label>
        <locationX>578</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_CATV</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedCATV</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgASO</name>
        <label>KYContextChgASO</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_ASO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedASO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgBREG</name>
        <label>KYContextChgBREG</label>
        <locationX>314</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_BREG</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedBREG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgDCA</name>
        <label>KYContextChgDCA</label>
        <locationX>842</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_DCA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedDCA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgDFI_0</name>
        <label>KYContextChgDFI</label>
        <locationX>1106</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_DFI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedDFI_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgDO</name>
        <label>KYContextChgDO</label>
        <locationX>1370</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_DO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedDO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgHPEAP</name>
        <label>KYContextChgHPEAP</label>
        <locationX>1634</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_HPEAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedHPEAP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgINS</name>
        <label>KYContextChgINS</label>
        <locationX>1898</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_INS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedINS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgISCO</name>
        <label>KYContextChgISCO</label>
        <locationX>2162</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_ISCO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedISCO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgOAH</name>
        <label>KYContextChgOAH</label>
        <locationX>2426</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_OAH</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedOAH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgOCP</name>
        <label>KYContextChgOCP</label>
        <locationX>2690</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_OCP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedOCP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgPVL</name>
        <label>KYContextChgPVL</label>
        <locationX>2954</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_PVL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedPVL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>KYContextChgRICO</name>
        <label>KYContextChgRICO</label>
        <locationX>3218</locationX>
        <locationY>2111</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_KY_ContextChg_RICO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ContextGrpUsedRICO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYASO</name>
        <label>NewDivKYASO</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_ASO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedASO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYBREG</name>
        <label>NewDivKYBREG</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_BREG</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedBREG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYCATV</name>
        <label>NewDivKYCATV</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_CATV</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedCATV</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYDCA</name>
        <label>NewDivKYDCA</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_DCA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedDCA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYDFI</name>
        <label>NewDivKYDFI</label>
        <locationX>1106</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_DFI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedDFI</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYDO</name>
        <label>NewDivKYDO</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_DO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedDO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYHPEAP</name>
        <label>NewDivKYHPEAP</label>
        <locationX>1634</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_HPEAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedHPEAP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYINS</name>
        <label>NewDivKYINS</label>
        <locationX>1898</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_INS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedINS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYISCO</name>
        <label>NewDivKYISCO</label>
        <locationX>2162</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_ISCO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedISCO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifASO</name>
        <label>NewDivKYNotifASO</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifbreg</name>
        <label>NewDivKYNotifbreg</label>
        <locationX>314</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifCATV</name>
        <label>NewDivKYNotifCATV</label>
        <locationX>578</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifDCA</name>
        <label>NewDivKYNotifDCA</label>
        <locationX>842</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifDFI</name>
        <label>NewDivKYNotifDFI</label>
        <locationX>1106</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifDO</name>
        <label>NewDivKYNotifDO</label>
        <locationX>1370</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifHPEAP</name>
        <label>NewDivKYNotifHPEAP</label>
        <locationX>1634</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifINS</name>
        <label>NewDivKYNotifINS</label>
        <locationX>1898</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifISCO</name>
        <label>NewDivKYNotifISCO</label>
        <locationX>2162</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifOAH</name>
        <label>NewDivKYNotifOAH</label>
        <locationX>2426</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifOCP</name>
        <label>NewDivKYNotifOCP</label>
        <locationX>2690</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifPVL</name>
        <label>NewDivKYNotifPVL</label>
        <locationX>2954</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYNotifRICO</name>
        <label>NewDivKYNotifRICO</label>
        <locationX>3218</locationX>
        <locationY>1535</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ClearGrpVars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NewDivKYNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>NEW Keyword Match - Division Keyword added to related Measure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>grprecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYOAH</name>
        <label>NewDivKYOAH</label>
        <locationX>2426</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_OAH</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedOAH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYOCP</name>
        <label>NewDivKYOCP</label>
        <locationX>2690</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_OCP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedOCP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYPVL</name>
        <label>NewDivKYPVL</label>
        <locationX>2954</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_PVL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedPVL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewDivKYRICO</name>
        <label>NewDivKYRICO</label>
        <locationX>3218</locationX>
        <locationY>1175</locationY>
        <actionName>DCCA_LeTS_Div_Keyword__c.Alert_New_KY_Division_RICO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GrpUsedRICO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignContextGrpIdASO</name>
        <label>AssignContextGrpIdASO</label>
        <locationX>50</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifASO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdBREG</name>
        <label>AssignContextGrpIdBREG</label>
        <locationX>314</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifBREG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdCATV</name>
        <label>AssignContextGrpIdCATV</label>
        <locationX>578</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifCATV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdDCA</name>
        <label>AssignContextGrpIdDCA</label>
        <locationX>842</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifDCA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdDFI_0</name>
        <label>AssignContextGrpIdDFI</label>
        <locationX>1106</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifDFI_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdDO</name>
        <label>AssignContextGrpIdDO</label>
        <locationX>1370</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifDO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdHPEAP</name>
        <label>AssignContextGrpIdHPEAP</label>
        <locationX>1634</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifHPEAP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdINS</name>
        <label>AssignContextGrpIdINS</label>
        <locationX>1898</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifINS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdISCO</name>
        <label>AssignContextGrpIdISCO</label>
        <locationX>2162</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifISCO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdOAH</name>
        <label>AssignContextGrpIdOAH</label>
        <locationX>2426</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifOAH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdOCP</name>
        <label>AssignContextGrpIdOCP</label>
        <locationX>2690</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifOCP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdPVL</name>
        <label>AssignContextGrpIdPVL</label>
        <locationX>2954</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifPVL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContextGrpIdRICO</name>
        <label>AssignContextGrpIdRICO</label>
        <locationX>3218</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContextKYNotifRICO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdASO</name>
        <label>AssignGrpIdASO</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifASO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdBREG</name>
        <label>AssignGrpIdBREG</label>
        <locationX>314</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifbreg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdCATV</name>
        <label>AssignGrpIdCATV</label>
        <locationX>578</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifCATV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdDCA</name>
        <label>AssignGrpIdDCA</label>
        <locationX>842</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifDCA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdDFI</name>
        <label>AssignGrpIdDFI</label>
        <locationX>1106</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifDFI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdDO</name>
        <label>AssignGrpIdDO</label>
        <locationX>1370</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifDO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdHPEAP</name>
        <label>AssignGrpIdHPEAP</label>
        <locationX>1634</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifHPEAP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdINS</name>
        <label>AssignGrpIdINS</label>
        <locationX>1898</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifINS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdISCO</name>
        <label>AssignGrpIdISCO</label>
        <locationX>2162</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifISCO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdOAH</name>
        <label>AssignGrpIdOAH</label>
        <locationX>2426</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifOAH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdOCP</name>
        <label>AssignGrpIdOCP</label>
        <locationX>2690</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifOCP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdPVL</name>
        <label>AssignGrpIdPVL</label>
        <locationX>2954</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifPVL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGrpIdRICO</name>
        <label>AssignGrpIdRICO</label>
        <locationX>3218</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrpID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewDivKYNotifRICO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearGrpVars</name>
        <label>ClearGrpVars</label>
        <locationX>1766</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>grprecipients</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrpID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrpName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomNotifID2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>KYContextChg</name>
        <label>KYContextChg</label>
        <locationX>1766</locationX>
        <locationY>1991</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KYContextASO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgASO</targetReference>
            </connector>
            <label>KYContextASO</label>
        </rules>
        <rules>
            <name>KYContextBREG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgBREG</targetReference>
            </connector>
            <label>KYContextBREG</label>
        </rules>
        <rules>
            <name>KYContextCATV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContentChgCATV</targetReference>
            </connector>
            <label>KYContextCATV</label>
        </rules>
        <rules>
            <name>KYContextDCA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgDCA</targetReference>
            </connector>
            <label>KYContextDCA</label>
        </rules>
        <rules>
            <name>KYContextDFI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgDFI_0</targetReference>
            </connector>
            <label>KYContextDFI</label>
        </rules>
        <rules>
            <name>KYContextDO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgDO</targetReference>
            </connector>
            <label>KYContextDO</label>
        </rules>
        <rules>
            <name>KYContextHPEAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgHPEAP</targetReference>
            </connector>
            <label>KYContextHPEAP</label>
        </rules>
        <rules>
            <name>KYContextINS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgINS</targetReference>
            </connector>
            <label>KYContextINS</label>
        </rules>
        <rules>
            <name>KYContextISCO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgISCO</targetReference>
            </connector>
            <label>KYContextISCO</label>
        </rules>
        <rules>
            <name>KYContextOAH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgOAH</targetReference>
            </connector>
            <label>KYContextOAH</label>
        </rules>
        <rules>
            <name>KYContextOCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgOCP</targetReference>
            </connector>
            <label>KYContextOCP</label>
        </rules>
        <rules>
            <name>KYContextPVL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgPVL</targetReference>
            </connector>
            <label>KYContextPVL</label>
        </rules>
        <rules>
            <name>KYContextRICO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keyword_Full_Context__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Keyword_Full_Context__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYContextChgRICO</targetReference>
            </connector>
            <label>KYContextRICO</label>
        </rules>
    </decisions>
    <decisions>
        <name>MeasIntroCutOff</name>
        <label>MeasIntroCutOff</label>
        <locationX>2756</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CutOffDateHit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2023-01-27T10:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomNotifID1</targetReference>
            </connector>
            <label>CutOffDateHit</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewDivnKY</name>
        <label>NewDivnKY</label>
        <locationX>1766</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>ClearGrpVars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewASOKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYASO</targetReference>
            </connector>
            <label>NewASOKY</label>
        </rules>
        <rules>
            <name>NewBREGKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYBREG</targetReference>
            </connector>
            <label>NewBREGKY</label>
        </rules>
        <rules>
            <name>NewCATVKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CATV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYCATV</targetReference>
            </connector>
            <label>NewCATVKY</label>
        </rules>
        <rules>
            <name>NewDCAKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYDCA</targetReference>
            </connector>
            <label>NewDCAKY</label>
        </rules>
        <rules>
            <name>NewDFIKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYDFI</targetReference>
            </connector>
            <label>NewDFIKY</label>
        </rules>
        <rules>
            <name>NewDOKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYDO</targetReference>
            </connector>
            <label>NewDOKY</label>
        </rules>
        <rules>
            <name>NewHPEAPKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HPEAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYHPEAP</targetReference>
            </connector>
            <label>NewHPEAPKY</label>
        </rules>
        <rules>
            <name>NewINSKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYINS</targetReference>
            </connector>
            <label>NewINSKY</label>
        </rules>
        <rules>
            <name>NewISCOKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYISCO</targetReference>
            </connector>
            <label>NewISCOKY</label>
        </rules>
        <rules>
            <name>NewOAHKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYOAH</targetReference>
            </connector>
            <label>NewOAHKY</label>
        </rules>
        <rules>
            <name>NewOCPKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYOCP</targetReference>
            </connector>
            <label>NewOCPKY</label>
        </rules>
        <rules>
            <name>NewPVLKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYPVL</targetReference>
            </connector>
            <label>NewPVLKY</label>
        </rules>
        <rules>
            <name>NewRICOKY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCCA_LeTS_KY_DIV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDivKYRICO</targetReference>
            </connector>
            <label>NewRICOKY</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <interviewLabel>LeTSDIVKYNotifEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeTSDIVKYNotifEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ContextGrpUsedASO</name>
        <label>ContextGrpUsedASO</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdASO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSASOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedBREG</name>
        <label>ContextGrpUsedBREG</label>
        <locationX>314</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdBREG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSBREGGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedCATV</name>
        <label>ContextGrpUsedCATV</label>
        <locationX>578</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdCATV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSCATVGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedDCA</name>
        <label>ContextGrpUsedDCA</label>
        <locationX>842</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdDCA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDCAGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedDFI_0</name>
        <label>ContextGrpUsedDFI</label>
        <locationX>1106</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdDFI_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDFIGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedDO</name>
        <label>ContextGrpUsedDO</label>
        <locationX>1370</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdDO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedHPEAP</name>
        <label>ContextGrpUsedHPEAP</label>
        <locationX>1634</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdHPEAP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSHPEAPGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedINS</name>
        <label>ContextGrpUsedINS</label>
        <locationX>1898</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdINS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSINSGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedISCO</name>
        <label>ContextGrpUsedISCO</label>
        <locationX>2162</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdISCO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSISCOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedOAH</name>
        <label>ContextGrpUsedOAH</label>
        <locationX>2426</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdOAH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSOAHGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedOCP</name>
        <label>ContextGrpUsedOCP</label>
        <locationX>2690</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdOCP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSOCPGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedPVL</name>
        <label>ContextGrpUsedPVL</label>
        <locationX>2954</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdPVL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSPVLGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContextGrpUsedRICO</name>
        <label>ContextGrpUsedRICO</label>
        <locationX>3218</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContextGrpIdRICO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSRICOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CustomNotifID1</name>
        <label>CustomNotifID1</label>
        <locationX>1766</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewDivnKY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alert_New_Keyword_Match</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>CustomNotifID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CustomNotifID2</name>
        <label>CustomNotifID2</label>
        <locationX>1766</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KYContextChg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DCCA_LeTS_KY_ContextChg</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>CustomNotifID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetKYRecType</name>
        <label>GetKYRecType</label>
        <locationX>2756</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MailListAddrs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CurrentDivKY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMeasforKY</name>
        <label>GetMeasforKY</label>
        <locationX>2756</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetKYRecType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DCCA_LeTS_Meas_baseid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DCCA_LeTS_KY_Meas_Baseid__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_LeTS_Measure_Main__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedASO</name>
        <label>GrpUsedASO</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdASO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSASOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedBREG</name>
        <label>GrpUsedBREG</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdBREG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSBREGGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedCATV</name>
        <label>GrpUsedCATV</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdCATV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSCATVGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedDCA</name>
        <label>GrpUsedDCA</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdDCA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDCAGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedDFI</name>
        <label>GrpUsedDFI</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdDFI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDFIGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedDO</name>
        <label>GrpUsedDO</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdDO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSDOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedHPEAP</name>
        <label>GrpUsedHPEAP</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdHPEAP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSHPEAPGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedINS</name>
        <label>GrpUsedINS</label>
        <locationX>1898</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdINS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSINSGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedISCO</name>
        <label>GrpUsedISCO</label>
        <locationX>2162</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdISCO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSISCOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedOAH</name>
        <label>GrpUsedOAH</label>
        <locationX>2426</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdOAH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSOAHGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedOCP</name>
        <label>GrpUsedOCP</label>
        <locationX>2690</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdOCP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSOCPGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedPVL</name>
        <label>GrpUsedPVL</label>
        <locationX>2954</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdPVL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSPVLGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GrpUsedRICO</name>
        <label>GrpUsedRICO</label>
        <locationX>3218</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignGrpIdRICO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTSRICOGrp</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MailListAddrs</name>
        <label>MailListAddrs</label>
        <locationX>2756</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdDivKYrec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DCCA_Division_ML__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeTS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DCCA_DO_Mail_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdDivKYrec</name>
        <label>UpdDivKYrec</label>
        <locationX>2756</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>MeasIntroCutOff</targetReference>
        </connector>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_ASO__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_ASO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_All__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_All__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_BREG__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_BREG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_CATV__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_CATV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_Coord__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_Coordinators__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_DCA__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_DCA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_DFI__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_DFI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_DO__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_DO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_HPEAP__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_HPEAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_INS__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_INS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_ISCO__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_ISCO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_OAH__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_OAH__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_OCP__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_OCP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_PVL__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_PVL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_KY_Email_RICO__c</field>
            <value>
                <elementReference>MailListAddrs.DCCA_Leg_RICO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetKYRecType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2630</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetMeasforKY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>2023-2024</stringValue>
            </value>
        </filters>
        <object>DCCA_LeTS_Div_Keyword__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DivKYContextChg</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Context information for: Division - {!$Record.DCCA_LeTS_KY_DIV__c} - and keyword - {!$Record.DCCA_LeTS_KY_Keyword__c} has changed. New context is - {!$Record.Keyword_Full_Context__c}. Details can be found at - {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>NewDivKYNote</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Division and Matching Keyword was added: Division - {!$Record.DCCA_LeTS_KY_DIV__c} - and keyword - {!$Record.DCCA_LeTS_KY_Keyword__c} - added. Measure related to this change -{!$Record.DCCA_LeTS_KY_Meas_Baseid__c}. Keyword match details can be found at - {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>CustomDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomNotifID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GrpID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GrpName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>grprecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
