flows/UpdtMeasChildren.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SetMeasId</name>
        <label>SetMeasId</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>MeasInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>StoreMeasId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>StoreMeasId</name>
        <label>StoreMeasId</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>MeasRecId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMeasHTRecs</targetReference>
        </connector>
    </assignments>
    <interviewLabel>UpdtMeasChildren {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdtMeasChildren</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMeasHTRecs</name>
        <label>GetMeasHTRecs</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdtHTDivfrmMeas_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DCCA_LeTS_Measure_base__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DCCA_LeTS_Hearings_Testimony__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdtHTDivfrmMeas_0_0_0</name>
        <label>UpdtHTDivfrmMeas</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DCCA_LeTS_Measure_base__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV2_Action__c</field>
            <value>
                <elementReference>recordId.Div2_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV2__c</field>
            <value>
                <elementReference>recordId.Div2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV3_Action__c</field>
            <value>
                <elementReference>recordId.Div3_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV3__c</field>
            <value>
                <elementReference>recordId.Div3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV4_Action__c</field>
            <value>
                <elementReference>recordId.Div4_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV4__c</field>
            <value>
                <elementReference>recordId.Div4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV5_Action__c</field>
            <value>
                <elementReference>recordId.Div5_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV5__c</field>
            <value>
                <elementReference>recordId.Div5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_DIV_Lead__c</field>
            <value>
                <elementReference>recordId.Lead_Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_ASO__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_ASO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_All__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_All__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_BREG__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_BREG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_CATV__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_CATV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_Coord__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_Leg_Coord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_DCA__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_DCA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_DFI__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_DFI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_DO__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_DO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_HPEAP__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_HPEAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_INS__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_INS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_ISCO__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_ISCO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_OAH__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_OAH__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_OCP__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_OCP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_PVL__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_PVL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Email_RICO__c</field>
            <value>
                <elementReference>recordId.DCCA_LeTS_Meas_Email_RICO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCCA_LeTS_HT_Lead_Action__c</field>
            <value>
                <elementReference>recordId.Lead_Div_Action__c</elementReference>
            </value>
        </inputAssignments>
        <object>DCCA_LeTS_Hearings_Testimony__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetMeasId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MeasRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DCCA_LeTS_Measure_Main__c</objectType>
    </variables>
</Flow>
